extends ../layout-reports
block style  
  link(rel='stylesheet', href='/stylesheets/style.css')
block scripts
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(type='text/javascript', src='/assets/annie/js/d3pie.min.js')
  script(type='text/javascript', src='/assets/annie/js/d3pie.js')
  script(type='text/javascript', src='/assets/annie/js/gauge.js')
  script(type='text/javascript', src='/assets/annie/js/Donut3D.js')
  script(src='/assets/annie/js/materialize.min.js')
  script(src='/assets/annie/js/vizuly_core.min.js')
  script(src='/assets/annie/js/vizuly_radialprogress.min.js')
  script(src='/assets/annie/js/liquidFillGauge.js', language='JavaScript')
  script(type='text/javascript', src='/scripts/report_d3.js')  
block content
  body
  main.layout-contents.padding
    div.layout-contents-inner
      section
        header.page-title
          h1.title Reports
          p.count Total
            mark.report 836
        fieldset.search-container
          legend search
            div.right-content-view
              label(for='') List view
                select.select(name='', id='')
                  option(value='') 15
            div.left-content-view
              span.datepicker
                input(type='text', name='daterange', id='', value='')
                select.select(name='', id='')
                  option(value='') Zone ID
                select.select(name='', id='')
                  option(value='') Node ID
                select.select(name='', id='')
                  option(value='') ALL
              button.btn-submit.search(type='submit') SEARCH
        script.
          $(document).ready(function() {
            report();
            var start = moment().subtract(29, 'days');
            var end = moment();
            $('input[name="daterange"]')
              .daterangepicker(
              {
                "autoApply" : true,
                startDate : start,
                endDate : end,
                locale : {
                  format : 'YYYY-MM-DD'
                }
              },
              function(start, end, label) {
                console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
              });
          });      
        div.map-container
          div.inner        
        ul.list-reports
          li            
            div.chart
              #pieChart
          li            
            div.chart              
              pie3D
              button(onclick='report.changeData()') Change Data
          li
            div.chart
              span#vibXGaugeContainer
              span#vibYGaugeContainer
              span#vibZGaugeContainer
              span#vibGaugeContainer           
          li
            div.chart
              svg#fillgauge1(width='95%', height='250', onclick='gauge1.update(NewValue());')
              svg#fillgauge2(width='19%', height='200', onclick='gauge2.update(NewValue());')
              svg#fillgauge3(width='19%', height='200', onclick='gauge3.update(NewValue());')
              svg#fillgauge4(width='19%', height='200', onclick='gauge4.update(NewValue());')
              svg#fillgauge5(width='19%', height='200', onclick='gauge5.update(NewValue());')
              svg#fillgauge6(width='19%', height='200', onclick='gauge6.update(NewValue());')
          li            
            div.chart
              groupBar
          li
            div.chart
              groupTip
          li            
            div.chart
          li
            div.chart
              .radarChart