extends ../layout-reports
block style
  style.
    .dc-chart .axis text{
      fill: white;
    }
    .dc-legend {
      fill: white;
    }
block scripts
block content
  main.layout-contents.padding
    div.layout-contents-inner
      section
        header.page-title
          h1.title Reports
          p.count Total
            mark.report 836
        fieldset.search-container
          legend search
            div.right-content-view
              label(for='') List view
                select.select(name='', id='')
                  option(value='') 15
            div.left-content-view
              span.datepicker
                input(type='text', name='daterange', id='', value='')
                select.select(name='', id='')
                  option(value='') Zone ID
                select.select(name='', id='')
                  option(value='') Node ID
                select.select(name='', id='')
                  option(value='') ALL
              button.btn-submit.search(type='submit') SEARCH
        script(src='/scripts/report.js')
        script.
          $(document).ready(function() {
            report();
            var start = moment().subtract(29, 'days');
            var end = moment();
            $('input[name="daterange"]')
              .daterangepicker(
              {
                "autoApply" : true,
                startDate : start,
                endDate : end,
                locale : {
                  format : 'YYYY-MM-DD'
                }
              },
              function(start, end, label) {
                console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
              });
          });
        div.map-container
          div.inner 
        ul.list-reports
          li
            div.chart(style='text-align:center')
              #eventChart(style='margine:0 auto;')
          li
            div.chart
              #hourSeries
          li
            div.chart
          li
            div.chart
          li
            div.chart
          li
            div.chart
              .radarChart
    //- script(src='/scripts/report.js')
