extends ../layout-reports

<<<<<<< HEAD
block style
block scripts
=======
//- block style
//- 	link(rel='stylesheet', type='text/css', href='/assets/annie/css/dc.css')
block scripts
	//- script(src='/scripts/d3_pie.js')
	//- script(src='/scripts/d3_bar.js')
	//- script(src='/scripts/d3_donut.js')

>>>>>>> 3681026fc0475c433d2b80b8ca55f009cd18a9f0
block content
	main.layout-contents.padding
		div.layout-contents-inner
			section
				header.page-title
					h1.title Reports
					p.count Total
						mark.report 836
				fieldset.search-container
					legend search
						div.right-content-view
							label(for='') List view
								select.select(name='', id='')
									option(value='') 15
						div.left-content-view
							span.datepicker
								input(type='text', name='daterange', id='', value='')
								select.select(name='', id='')
									option(value='') Zone ID
								select.select(name='', id='')
									option(value='') Node ID
								select.select(name='', id='')
									option(value='') ALL
							button.btn-submit.search(type='submit') SEARCH
				script.
					$(document)
					.ready(function() {
						var start = moment().subtract(29, 'days');
						var end = moment();
						$('input[name="daterange"]')
							.daterangepicker(
							{
								"autoApply" : true,
								startDate : start,
								endDate : end,
								locale : {
									format : 'YYYY-MM-DD'
								}
							},
							function(start, end, label) {
								console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
							});
					});
				div.map-container
					div.inner map container
				ul.list-reports
					li
						div.chart
							#monthly-move-chart
								script(src='/scripts/main.js')
					li
						div.chart
							#monthly-volume-chart
								script(src='/scripts/main.js')
					li
						div.chart
							#monthly-move-chart
								script(src='/scripts/main.js')
					li
						div.chart 
				div
					table.table.table-hover.dc-data-table
						script(src='/scripts/main.js')
