doctype transitional
head
  title DC.js + Leaflet
  meta(itemprop='name', content='DC.js + Leaflet')
  meta(itemprop='description', content='DC.js + Leaflet chart')
  meta(charset='UTF-8')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(type='text/css', href='/assets/leaflet/css/MarkerCluster.Default.css', rel='stylesheet')
  link(type='text/css', href='/assets/leaflet/css/MarkerCluster.css', rel='stylesheet')
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(type='text/css', href='/assets/leaflet/css/leaflet-legend.css', rel='stylesheet')
  style.
    #holder {
    width:850px;
    margin:20px auto;
    }
    #holder>div {
    padding:30px 0;
    clear:both;
    }
    .map {
    width:600px;
    height:400px;
    }
    .pie {
    margin-left:30px;
    }
    #octocat {
    position: absolute;
    right: 5px;
    top: 5px;
    }
    /*map legend styling*/
    /*--*/
#holder
  #demo1
    h2 Markers with clustering, popups and single selection
    i Renewable energy plants in Bulgaria in 2012
    .map
    .pie  
script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
script(type='text/javascript', src='/assets/annie/js/crossfilter.js')
script(type='text/javascript', src='/assets/annie/js/dc.js')
script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
script(type='text/javascript', src='/assets/leaflet/leaflet.js')
// Optional
script(type='text/javascript', src='/assets/leaflet/leaflet.markercluster.js')  
script(type='text/javascript', src='/assets/leaflet/dc.leaflet.js')
script(type='text/javascript').
  /*     Markers      */
  d3.tsv("/assets/demo1.tsv", function(data) {    
  drawMarkerSelect(data);  
  console.log(data);
  });
  function drawMarkerSelect(data) {
  var xf = crossfilter(data);
  var groupname = "marker-select";
  var facilities = xf.dimension(function(d) { return d.geo; });
  var facilitiesGroup = facilities.group().reduceCount();
  var marker = dc_leaflet.markerChart("#demo1 .map",groupname)
  .dimension(facilities)
  .group(facilitiesGroup)
  .width(600)
  .height(400)
  .center([42.69,25.42])
  .zoom(7)
  .cluster(true);
  
  dc.renderAll(groupname);
  return {marker: marker};
  }
  