extends ../layout-reports
block style  
  link(rel='stylesheet', type='text/css', href='/assets/annie/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/assets/annie/css/style.css')
block scripts
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(src='/assets/annie/js/vue.min.js')
  script(src='/scripts/integrateIndex.js')      
block content
  body
  main.layout-contents.padding
    div.layout-contents-inner
      section
        header.page-title
          h1.title Reports
          p.count Total
            mark.report 836
        fieldset.search-container
          legend search
            div.right-content-view
              label(for='') List view
                select.select(name='', id='')
                  option(value='') 15
            div.left-content-view
              span.datepicker
                input(type='text', name='daterange', id='', value='')
                select.select(name='', id='')
                  option(value='') Zone ID
                select.select(name='', id='')
                  option(value='') Node ID
                select.select(name='', id='')
                  option(value='') ALL
              button.btn-submit.search(type='submit') SEARCH
        script.
          $(document).ready(function() {            
            var start = moment().subtract(29, 'days');
            var end = moment();
            $('input[name="daterange"]')
              .daterangepicker(
              {
                "autoApply" : true,
                startDate : start,
                endDate : end,
                locale : {
                  format : 'YYYY-MM-DD'
                }
              },
              function(start, end, label) {
                console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
              });
          });      
    div.map-container(style='width:100%;height:440px;')
      div.inner
        #table             
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Click Line Show Chart
          .panel-body
              .panel-checkbox-xs.visible-xs-block.visible-sm-block                
                  input#ampere.click_checkbox(type='checkbox', name='ampere', value='1', v-on='click:checkOpt', checked='true')
                  text  ampere
                  |  
                  input#voltage.click_checkbox(type='checkbox', name='voltage', value='2', v-on='click:checkOpt', checked='true')
                  text  voltage
                  |  
                  input#active_power.click_checkbox(type='checkbox', name='active_power', value='3', v-on='click:checkOpt')
                  text  active_power
                  |  
                  input#apparent_power.click_checkbox(type='checkbox', name='apparent_power', value='4', v-on='click:checkOpt', checked='true')
                  text  apparent_power
                  |  
                  input#reactive_power.click_checkbox(type='checkbox', name='reactive_power', value='5', v-on='click:checkOpt')
                  text  reactive_power
                  |  
                  input#power_factor.click_checkbox(type='checkbox', name='power_factor', value='6', v-on='click:checkOpt')
                  text  power_factor
              .col-xm-12.col-sm-12.col-md-10.col-xs-12
                #LINE(style='width:100%;height:370px;')          
    div.map-container(style='height:300px;')
      div.inner
        #table    
          .panel.panel-card                             
            .panel-title
              h5.no-margin.m-b Area Chart
            .panel-body
              #Area(style='height:270px;')
    div.map-container(style='height:310px;')
      div.inner
        #table                      
          .panel.panel-card
            .panel-title
              h5.no-margin.m-b Dual Area Chart
            .panel-body
              #DualArea(style='height:280px;')
    div.map-container(style='height:310px;')
      div.inner
        #table                      
          .panel.panel-card                
            .panel-title
              h5.no-margin.m-b Line Area Chart
            .panel-body
              #LineArea(style='height:280px;')
    div.map-container(style='height:430px;')
      div.inner
        #table                      
          .panel.panel-card
            .panel-title
              h5.no-margin.m-b Line Bar Chart
            .panel-body
              #LineBar(style='height:400px;')      