doctype html
html(lang='en')
  head
    title Home | A Visualization System Prototype of Security Monitoring Product
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', type='text/css', href='/assets/annie/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/annie/css/style.css')
  body#table
    .container
      .col-sm-12.col-md-12
        h2 An Integrated Version of Security Monitor Vis System
        p
          | You can find the codes here in 
          a(href='https://github.com/hijiangtao/ss-vis-component/') Github Repo
    br
    .container
      .col-sm-12.col-md-12
        h3 SENSOR PART
      .col-sm-12.col-md-4
        .panel.panel-card.people-panel
          .panel-title
            h5.no-margin.m-b People
          .panel-body
            #sensor-moni-text(style='height:250px;')
              h1 {{people_count}}
      .col-sm-12.col-md-8
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Memory Monitor
          .panel-body
            #sensor-mem-area-d3(style='height:270px;')
      .col-sm-12.col-md-8
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Docker Issues Monitor
          .panel-body
            .panel-checkbox-xs.visible-xs-block.visible-sm-block
              p &#x9650;&#x9009;5&#x4E2A;&#xFF1A;
              form#checkbox_opt
                input#issue1.scatter_checkbox(type='checkbox', name='ampere', value='1', v-on='click:checkOpt', checked='true')
                text  ampere
                |  
                input#issue2.scatter_checkbox(type='checkbox', name='voltage', value='2', v-on='click:checkOpt', checked='true')
                text  voltage
                |  
                input#issue3.scatter_checkbox(type='checkbox', name='active_power', value='3', v-on='click:checkOpt')
                text  active_power
                |  
                input#issue4.scatter_checkbox(type='checkbox', name='apparent_power', value='4', v-on='click:checkOpt', checked='true')
                text  apparent_power
                |  
                input#issue5.scatter_checkbox(type='checkbox', name='reactive_power', value='5', v-on='click:checkOpt')
                text  reactive_power
                |  
                input#issue6.scatter_checkbox(type='checkbox', name='power_factor', value='6', v-on='click:checkOpt')
                text  power_factor
            .col-xm-12.col-sm-12.col-md-10.col-xs-12
              #sensor-docker-scatterplot-d3(style='width:100%;height:370px;')
      .col-sm-12.col-md-4
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor CPU Monitor
          .panel-body
            #sensor-cpu-donut-d3(style='height:370px;')
      .col-sm-12.col-md-6
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Network Monitor
          .panel-body
            #sensor-net-area-d3(style='height:280px;')
      .col-sm-12.col-md-6
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Disk IO Monitor
          .panel-body
            #sensor-disk-multi-d3(style='height:280px;')
      .col-sm-12.col-md-4
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Single Sensor People Monitor
          .panel-body
            #sensor-moni-arcpie-d3(style='height:247px;')
      .col-sm-12.col-md-8
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor: People Distance and Duration Monitor
          .panel-body
            #sensor-dis-dur-timeline-d3(style='height:247px;')
      .col-sm-12.col-md-6
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Detection Monitor
          .panel-body
            #sensor-detec-aster-d3(style='height:300px;')
      .col-sm-12.col-md-6
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Latency Monitor
          .panel-body
            #sensor-detec-aster2-d3(style='height:300px;')
      .col-sm-12.col-md-12
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor People Counting Monitor
          .panel-body
            #sensor-count-multi-d3(style='height:400px;')
    .container
      .col-sm-12.col-md-12
        h3 DOCKER PART
      .col-sm-12.col-md-4
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Docker CPU Monitor
          .panel-body
            #docker-cpu-rect-d3(style='height:280px;')
      .col-sm-12.col-md-8
        .panel.panel-card
          .panel-title
            h5.no-margin.m-b Sensor Memory Monitor
          .panel-body
            #docker-mem-area-d3(style='height:280px;')
    script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
    script(src="/assets/scripts/libs/jquery-2.2.3.min.js")
    script(src="/assets/scripts/libs/bootstrap.min.js")
    script(src='/assets/annie/js/vue.min.js')
    script(src='/scripts/integrateIndex.js')