<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="gs.retail.chatbot.domain.UserAuth" alias="UserAuth" />
	</typeAliases>
	<mappers>
		<package name="gs.retail.chatbot.mapper" />
	</mappers>
</configuration>

