extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
block script
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(type='text/javascript', src='/assets/annie/js/crossfilter.js')
  script(type='text/javascript', src='/assets/annie/js/dc.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  script(type='text/javascript', src='/assets/leaflet/leaflet.js')
  script(type='text/javascript', src='/assets/leaflet/leaflet.markercluster.js')
  script(type='text/javascript', src='/assets/leaflet/dc.leaflet.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(type='text/javascript', src="/scripts/dashboard.js")
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Dashboard
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Status
          li.active Dashboard
      .row
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3.font-blue-sharp 47,800
                small TOTAL MONTHLY EVENT
              .icon
                i.icon-calendar
            .progress-info
              .progress
                span.progress-bar.progress-bar-success.blue-sharp(style='width: 76%;')
                  span.sr-only 76% progress
              .status
                .status-title  From the previous month
                .status-number  76%
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3.font-green-sharp 1,246
                small Total Daily Event
              .icon
                i.icon-pie-chart
            .progress-info
              .progress
                span.progress-bar.progress-bar-success.green-sharp(style='width: 85%;')
                  span.sr-only 85% change
              .status
                .status-title  From the daily average
                .status-number  85%
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3.font-red-haze 567
                small Daily Active Event
              .icon
                i.icon-speedometer
            .progress-info
              .progress
                span.progress-bar.progress-bar-success.red-haze(style='width: 45%;')
                  span.sr-only 45% grow
              .status
                .status-title  From the daily average
                .status-number  45%
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3.font-yellow-green 276
                small Process Active Event
              .icon
                i.icon-energy
            .progress-info
              .progress
                span.progress-bar.progress-bar-success.yellow-green(style='width: 57%;')
                  span.sr-only 57% change
              .status
                .status-title  process
                .status-number  57%
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Chart title
                span.caption-helper One Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(id='')
                | &#xC774;&#xACF3;&#xC5D0; &#xCC28;&#xD2B8;&#xB97C; &#xB123;&#xC2B5;&#xB2C8;&#xB2E4;.
                br
                br
                |  height&#xB294; css&#xC5D0; &#xAE30;&#xBCF8; 300px&#xB85C; &#xC815;&#xC758;&#xB418;&#xC5B4; &#xC788;&#xC73C;&#xB098;, div&#xC548;&#xC5D0; style&#xC815;&#xC758;&#xB85C; height&#xAC12;&#xC740; &#xBCC0;&#xACBD; &#xAC00;&#xB2A5;.
