extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(type='text/css', rel='stylesheet', href='/assets/sample/style/bigscatterchart.css') 
  link(href='/assets/sample/style/dashboard_main.css', rel='stylesheet')
block script
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(type='text/javascript', src='/assets/annie/js/crossfilter.js')
  script(type='text/javascript', src='/assets/annie/js/dc.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  script(type='text/javascript', src='/assets/leaflet/leaflet.js')
  script(type='text/javascript', src='/assets/leaflet/leaflet.markercluster.js')
  script(type='text/javascript', src='/assets/leaflet/dc.leaflet.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(type='text/javascript', src="/scripts/dashboard_es.js")
  script(src='/assets/sample/js/cytoscape.min.js')  
  script(src='/assets/sample/js/dagre.min.js')
  script(src='/assets/sample/js/cytoscape-dagre.js')   
  script(type='text/javascript', src='/assets/sample/js/modernizr.js')
  script(type='text/javascript', src='/assets/sample/js/underscore-min.js') 
  script(type='text/javascript', src='/assets/sample/js/jquery.Class.js')
  script(type='text/javascript', src='/assets/sample/js/jquery.dragToSelect.js')
  script(type='text/javascript', src='/assets/sample/js/jquery.BigScatterChart.js')   
  script.
    $(document).ready(function(e) {
      // display Count 4 type.
     displayCount();

      // draw Chart
     // drawChart();

      // draw Map
      //- drawMap();

      // process websocket
      // FIXME 실행시 map Container 오류 발생함.
      //- processSocket();
    });
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Dashboard
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Dashboard
          li.active Dashboard
      .row
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3#mevent-count.font-blue-sharp 0
                small TOTAL MONTHLY EVENT
              .icon
                i.icon-calendar
            #mevent_status.progress-info
              .progress
                span.progress-bar.progress-bar-success.blue-sharp(style='width: 90%;')
                  span.sr-only 76% progress
              .status
                .status-title  From the previous month
                .status-number  0%
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3#event-count.font-green-sharp 0
                small Total Daily Event
              .icon
                i.icon-pie-chart
            #event_status.progress-info
              .progress
                span.progress-bar.progress-bar-success.green-sharp(style='width: 85%;')
                  span.sr-only 85% change
              .status
                .status-title  From the previous day
                .status-number  0%
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3#fault-count.font-red-haze 0
                small Daily Fault Event
              .icon
                i.icon-speedometer
            #fault_status.progress-info
              .progress
                span.progress-bar.progress-bar-success.red-haze(style='width: 45%;')
                  span.sr-only 45% grow
              .status
                .status-title  From the previous day
                .status-number  0%
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2
            .display
              .number
                h3#power.font-yellow-green 0
                small Daily Active Power
              .icon
                i.icon-energy
            #power_status.progress-info
              .progress
                span.progress-bar.progress-bar-success.yellow-green(style='width: 57%;')
                  span.sr-only 57% change
              .status
                .status-title  From the previous day
                .status-number  0%
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Event Trend
                span.caption-helper  The event counts
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:80px')
                #volumn-chart.chart_custom
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-blue-sharp Server Map
                span.caption-helper  Server Map
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .row
                .chart
                  #cy
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Summary Chart
                span.caption-helper  Response Time
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .row
                .col-md-12(style="height:300px")                 
                  #test(style="width:100%;")

                  
      .row
        .col-md-8
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Summary Chart                
                span.caption-helper  Load
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .row
                .col-md-12(style="height:300px")                  
                  #load(style="width:100%;")
                
               
        .col-md-4
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Scatter Chart
                span.caption-helper  Access Log Response Data
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #chart1(style="width:100%; height:100%")
