extends ../layout-dashboard

block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/scripts/d3_timeseries.css')
block scripts
  script(type='text/javascript', src='/assets/leaflet/d3.js')
  //- script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(type='text/javascript', src='/assets/annie/js/crossfilter.js')
  //- script(type='text/javascript', src='/assets/annie/js/dc.js')
  //- script(type='text/javascript', src='/assets/leaflet/dc.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  //- script(type='text/javascript', src='/assets/leaflet/leaflet.js')
  //- script(type='text/javascript', src='/assets/leaflet/leaflet.markercluster.js')
  //- script(type='text/javascript', src='/assets/leaflet/dc.leaflet.js')
  //- script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(type='text/javascript', src="/scripts/d3_timeseries.js")
  script(type='text/javascript', src="/scripts/timeseries.js")
block content
  main.layout-contents
    div.layout-contents-inner
      section
        header.page-title
          h1.title Time Series
        fieldset.search-container
          legend search
          .right-content-view
            fieldset.segmented-control
              legend Sync
              ul.list
                li
                  input#syncY(type='radio', name='syncYN', checked='Y')
                  label(for='syncY') Sync
                li
                  input#syncN(type='radio', name='syncYN')
                  label(for='syncN') Async
          .left-content-view
            span.datepicker
              input(type='text', name='daterange', id='', value='')
            select.select(name='', id='')
              option(value='') Zone ID
            select.select(name='', id='')
              option(value='') Node ID
            select.select(name='', id='')
              option(value='') ALL
            button.btn-submit.search(type='submit') SEARCH
            script.
              $(document).ready(function() {
                var start = moment().subtract(29, 'days');
                var end = moment();
                $('input[name="daterange"]').daterangepicker({
                    "autoApply": true,
                    startDate: start,
                    endDate: end,
                    locale: {
                      format: 'YYYY-MM-DD'
                    }
                  }, function(start, end, label) {
                    console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
                    });

                // time series char를 그린다.
                drawChart();


              });
        .grid-dashboard
          .grid-item(style='height:330px')
            .inner
              div.chart(style='left:10px;')
                #ts-chart01
          .grid-item(style='height:330px')
            .inner
              strong.grid-item-title Event/Fault Counts
              p.grid-item-desc The event/fault Counts in today/yesterday
              div.chart(style='left:10px;')
                #ts-chart02
          .grid-item(style='height:330px')
            .inner
              strong.grid-item-title ACTIVE POWER / NOISE / VIBRATION
              div.chart(style='left:10px;')
                #ts-chart03
          .grid-item(style='height:330px')
            .inner
              strong.grid-item-title LIVE DATA
              div.chart(style='left:10px;')
                #ts-chart04
                //- img(src='assets/images/@temp/chart03.jpg', alt='')
  //- div.loading
  //-   span.txt
  //-     i.spin Loading