extends ../layout-dashboard

block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/scripts/d3_timeseries.css')
block scripts
  //- script(type='text/javascript', src='/assets/leaflet/d3.js')
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(type='text/javascript', src='/assets/annie/js/crossfilter.js')
  script(type='text/javascript', src='/assets/annie/js/dc.js')
  //- script(type='text/javascript', src='/assets/leaflet/dc.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  script(type='text/javascript', src='/assets/leaflet/leaflet.js')
  script(type='text/javascript', src='/assets/leaflet/leaflet.markercluster.js')
  script(type='text/javascript', src='/assets/leaflet/dc.leaflet.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(type='text/javascript', src="/scripts/d3_timeseries.js")
  script(type='text/javascript', src="/scripts/timeseries.js")
block content
  main.layout-contents
    div.layout-contents-inner
      section
        script.
          $(document).ready(function(e) {
            // display Count 4 type.
            //- displayCount();

            // draw Chart
            drawChart();

            // draw Map
            //- drawMap();

            // process websocket
            //- processSocket();

          });
        .grid-dashboard
          .grid-item.map
            .inner
              div.chart
                #ts-chart01
          .grid-item.other
            .inner
              strong.grid-item-title Event/Fault Counts
              p.grid-item-desc The event/fault Counts in today/yesterday
              div.chart
                #ts-chart02
          .grid-item
            .inner
              strong.grid-item-title ACTIVE POWER / NOISE / VIBRATION
              div.chart
                #plot01-chart
              div.chart(style="left:180px;")
                #plot02-chart
              div.chart(style="left:350px;")
                #plot03-chart
              div.chart(style="left:500px;top:80px;")
                #plot_pie-chart
              //- ul.list-chart.flip-in-x
              //-   li
              //-     strong.grid-item-title ACTIVE POWER
              //-     .chart
              //-       img(src='assets/images/@temp/chart02_01.jpg', alt='')
              //-   li
              //-     strong.grid-item-title NOISE
              //-     .chart
              //-       img(src='assets/images/@temp/chart02_02.jpg', alt='')
              //-   li
              //-     strong.grid-item-title VIBRATION
              //-     .chart
              //-       img(src='assets/images/@temp/chart02_03.jpg', alt='')
          .grid-item
            .inner
              strong.grid-item-title LIVE DATA
              div.chart
                #series-chart
                //- img(src='assets/images/@temp/chart03.jpg', alt='')
  //- div.loading
  //-   span.txt
  //-     i.spin Loading