<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016 KT, Inc.
  ~ All right reserved.
  ~ This software is the confidential and proprietary information of KT
  ~ , Inc. You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with KT.
  ~
  ~ Revision History
  ~ Author              Date                  Description
  ~ Seo Jong Hwa        2016 . 6 . 22
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.programk.common.repository.category.PredCategoryMapper">
    <resultMap id="BaseResultMap" type="PredCategory">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
        <result column="restriction" jdbcType="VARCHAR" property="restriction"/>
        <result column="cp_id" jdbcType="INTEGER" property="cpId"/>
        <result column="enabled" jdbcType="VARCHAR" property="enabled"/>
        <result column="deploy" jdbcType="VARCHAR" property="deploy"/>
        <result column="cp_label" jdbcType="VARCHAR" property="cpLabel"/>
        <result column="count" jdbcType="VARCHAR" property="count"/>
    </resultMap>

    <!-- 검색시 where 조건 -->
    <sql id="whereSearch">
		WHERE  0 = 0			
		<if test='userAuth != "CPA" and cpId != null and cpId != 0'>
            AND cp_id = #{cpId}
        </if>
		<if test='name != null and name != ""'>
            AND LOWER(name) LIKE '%'|| LOWER(#{name}) ||'%'
        </if>
		<if test='restriction != null and restriction != ""'>
            AND restriction = #{restriction}
        </if>
	</sql>
	
	<sql id="tableCategory"> 
		<if test='userAuth == "CPA"'>
		(
			SELECT id, name, created, modified, restriction, cp_id, enabled
			FROM pred_category
			WHERE restriction = 'all'
			UNION ALL
			SELECT id, name, created, modified, restriction, cp_id, enabled
			FROM pred_category
			WHERE restriction = 'owner'
			AND cp_id = #{cpId}
		) AS t1
		</if>
		<if test='userAuth != "CPA"'>
    	pred_category AS t1
		</if>
    </sql>
    
	<sql id="columnDeploy"> 
		<if test='userAuth == "CPA"'>
		(
			CASE WHEN (SELECT true FROM deploy_pred_category WHERE cp_id = #{cpId} AND cate_id = t1.id) THEN 'Y'
			ELSE 'N' 
			END
		) AS deploy
		</if>
		<if test='userAuth != "CPA"'>
    	(
			CASE WHEN (SELECT true FROM deploy_pred_category WHERE cp_id = t1.cp_id AND cate_id = t1.id) THEN 'Y'
			ELSE 'N' 
			END
		) AS deploy
		</if>
    </sql>
    
    <sql id="columnCpLabel"> 
    	(
			SELECT label FROM cp WHERE id = t1.cp_id
		) AS cp_label
    </sql>
    
    <sql id="columnCount"> 
    	(
			SELECT count(*) FROM aiml_pred WHERE cate_id = t1.id
		) AS count
    </sql>
	
	<!-- 카운트 조회 -->
	<select id="countAll" parameterType="PredCategory" resultType="java.lang.Integer" >
        select count(*) 
        FROM 
        <include refid="tableCategory" />
        <include refid="whereSearch" />
    </select>
    
    <select id="countByName" parameterType="PredCategory" resultType="java.lang.Integer" >
        select count(*) from pred_category
        WHERE 0 = 0
        AND cp_id = #{cpId}
        AND name = #{name}
        <if test='id != null and id != 0'>
            AND id != #{id}
        </if>
    </select>	

    <!-- 샘플 상세 조회 -->
    <select id="selectByPrimaryKey" parameterType="PredCategory"
            resultMap="BaseResultMap">
         SELECT id, name, created, modified, restriction, cp_id, enabled,
         		<include refid="columnDeploy"/>
         FROM pred_category AS t1
         WHERE id = #{id} ;
    </select>

    <!-- 샘플 리스트 조회 -->
    <select id="selectList" parameterType="PredCategory"
            resultMap="BaseResultMap">
           SELECT id, name, created, modified, restriction, cp_id, enabled,
          		<include refid="columnDeploy"/>,
				<include refid="columnCpLabel"/>,
				<include refid="columnCount"/>		  
          FROM 
          <include refid="tableCategory" />
          <include refid="whereSearch" />
          ORDER BY restriction ASC, id DESC
          offset ${firstRecordIndex} limit ${recordCountPerPage};
    </select>

    <!-- 이름으로 조회 -->
    <select id="selectListByName" parameterType="PredCategory"
            resultMap="BaseResultMap">
        <![CDATA[
            SELECT id, name, created, modified, restriction, cp_id, enabled
            FROM pred_category
            WHERE name = #{name}
            AND cp_id = #{cpId}
        ]]>
    </select>

    <!-- 샘플 저장 -->
    <insert id="insert" parameterType="PredCategory">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select nextval('seq_pred_category')
        </selectKey>
        <![CDATA[
        INSERT INTO pred_category(id, name, created, modified, restriction, cp_id, enabled)
        VALUES (#{id}, #{name}, now(), now(), #{restriction}, #{cpId}, #{enabled});
        ]]>
    </insert>

    <!-- 샘플 삭제 -->
    <delete id="deleteByPrimaryKey" parameterType="PredCategory">
        <![CDATA[
          DELETE FROM pred_category
          WHERE id = #{id};
        ]]>
    </delete>

    <!--샘플 수정 -->
    <update id="updateByPrimaryKeySelective" parameterType="PredCategory">
        UPDATE pred_category
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="restriction != null">
                restriction = #{restriction},
            </if>
            <if test="cpId != null">
                cp_id = #{cpId},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            modified = now()
        </set>
        WHERE id = #{id};
    </update>

</mapper>
