body {
  font-family: helvetica;
  font-size: 14px;
}
#cy {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
h1 {
  opacity: 0.5;
  font-size: 1em;
}
/* you can set the disabled style how you like on the text/icon */
.cxtmenu-disabled {
  opacity: 0.333;
}