extends ../efmm-layout01
block style
  link(type='text/css', href="/efmm/css/dashboard_dashboard.css")
block script
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efmm/assets/scripts/radial-progress-chart.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src="/efmm/scripts/dashboard_dashboard.js")  
block content
  input#indexs(type='hidden', name='indexs', value=indexs)
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Dashboard
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Dashboard
          li.active Dashboard     
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Overall OEE
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body              
              .container
                .col-md-2
                  .overall
                .col-md-5
                  .col-md-4
                    span.caption-subject.bold.uppercase Availability
                    .availability
                  .col-md-4
                    span.caption-subject.bold.uppercase Performance
                    .performance
                  .col-md-4
                    span.caption-subject.bold.uppercase Quality
                    .quality
                .col-md-5
      .row
        .col-md-12(style="height:815px")
          .portlet.light(style="height:815px")
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase Server Map
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .row
                .chart(style="height:730px")
                  #cy        