extends ../efmm-layout01
block style
  link(type='text/css', rel='stylesheet', href='/efmm/assets/css/dc.css') 
  link(type='text/css', rel='stylesheet', href='/efmm/css/chart_style.css')  
  link(type='text/css', rel='stylesheet', href='/efmm/css/dashboard_info.css')  
block script
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efmm/assets/scripts/crossfilter.js')
  script(type='text/javascript', src='/efmm/assets/scripts/dc.js')  
  script(type='text/javascript', src='/efmm/assets/scripts/colorbrewer.js')
  script(type='text/javascript', src='/efmm/assets/scripts/radial-progress-index.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src="/efmm/scripts/dashboard_info.js")
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Info
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Dashboard
          li.active Dashboard
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Detail Info
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body                            
              .chart(style='height:auto;')
                .col-md-6
                  .col-md-5
                    #gage
                  .col-md-7
                    #data
                .col-md-6
                  #composed