extends ../efmm-layout01
block style
  link(type='text/css', rel='stylesheet', href='/efmm/assets/css/dc.css') 
  link(type='text/css', rel='stylesheet', href='/efmm/css/chart_style.css')
  link(type='text/css', href="/efmm/css/dashboard_dashboard.css")
block script
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efmm/assets/scripts/crossfilter.js')
  script(type='text/javascript', src='/efmm/assets/scripts/dc.js')  
  script(type='text/javascript', src='/efmm/assets/scripts/colorbrewer.js')
  script(type='text/javascript', src='/efmm/assets/scripts/radial-progress-index.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src="/efmm/scripts/dashboard_dashboard.js")
block content
  .container-fluid
    .page-content
      // BEGIN BREADCRUMBS
      .breadcrumbs
        h1 Overall OEE
        ol.breadcrumb
          li
            a(href='#') Dashboard
          li.active Overall OEE
      // END BREADCRUMBS
      .row        
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2.chart-mes
            h3 Overall OEE
            .chart
              .oee
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2.chart-mes
            h3 Availability
            .chart
              .availability
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2.chart-mes
            h3 Performance
            .chart
              .performance
        .col-lg-3
          .dashboard-stat2.chart-mes
            h3 Quality
            .chart
              .quality
      .row
        .col-lg-4.col-md-3.col-sm-6.col-xs-12
          .dashboard-stat2.chart-mes
            span.caption-subject.bold OEE Last 7 Days
            #composed
        .col-md-8
          .dashboard-stat2.chart-mes                             
            #tbody