<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <!-- Configure Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date %level %class:%L - %message%n</pattern>
        </encoder>
    </appender>

    <!-- Configure APP LOG -->
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/aibot-kt/log/scheduler/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/opt/aibot-kt/log/scheduler/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
	        <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/aibot-kt/log/scheduler/service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/opt/aibot-kt/log/scheduler/service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kt.programk.common.logs.CLogger" level="debug" additivity="false">
        <appender-ref ref="SERVICE"/>
        <!-- <appender-ref ref="STDOUT" /> -->
    </logger>
	<logger name="com.kt.programk.scheduler" level="debug" additivity="false">
        <appender-ref ref="APP" />
        <!-- <appender-ref ref="STDOUT" /> -->
    </logger>
    <root level="info">
        <appender-ref ref="APP"/>
        <!-- <appender-ref ref="STDOUT" /> -->
    </root>
</configuration>
