doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/plugins/morris.css', rel='stylesheet', type='text/css')
    link(href='/assets/plugins/tasks.css', rel='stylesheet', type='text/css')
    link#style_components(href='/assets/css/eyelink-components.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/eyelink-layout.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/eyelink-custom.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/scripts/d3_timeseries.css')    
    link(rel='stylesheet', type='text/css', href='/assets/annie/css/style.css')      
    link(rel='stylesheet', type='text/css', href='/assets/sample/style/sampleES_detail.css')      
    script(src='/assets/scripts/libs/jquery.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery-migrate.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/bootstrap.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery.blockui.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery.uniform.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/bootstrap-switch.min.js', type='text/javascript')
    script(src='/assets/scripts/eyelink-ui.js', type='text/javascript')
    script(src='/assets/scripts/eyelink-layout.js', type='text/javascript')
    script(src='/assets/scripts/eyelink-quick-sidebar.js', type='text/javascript')
    script(src='/assets/scripts/page/sample-data.js', type='text/javascript')
    script(src='/assets/plugins/tasks.js', type='text/javascript')
    script(src='/assets/scripts/page/layout.js', type='text/javascript')
    script(type='text/javascript', src='/assets/leaflet/d3.js')
    script(src='/assets/annie/js/vue.min.js')    
    script(type='text/javascript', src="/scripts/util.js")
    script(src='/assets/sample/script/sampleES_detail.js') 
    script.
      jQuery(document).ready(function() {  
          Metronic.init(); // init metronic core componets
          eyelinkLayout.init(); // init layout
          QuickSidebar.init(); // init quick sidebar
          Layout.init(); // init layout
          Tasks.initDashboardWidget(); // init tash dashboard widget                 
      });
  body.body-popup
    .wrapper
      header.page-header
      .container-fluid
        .content-popup
          .popup-tit-box           
           .row
             .col-md-12
                h1 EyeLink
          .row
            .col-md-12
              .portlet.light.bordered(style='height: 520px;')
                .portlet-title
                  .caption.font-dark
                    span.caption-subject.bold.uppercase Scatter Detail
                    span.caption-helper   by Selected
                .portlet-body
                  .scroller(style='height: 430px;', data-always-visible='1', data-rail-visible='0')
                    table#List.table.table-hover.table-light
                      thread
                        tr.uppercase
                          th(width = "12%") Start Time
                          th(width = "67%") Path
                          th(width = "7%") Res.(ms)
                          th(width = "7%") Response
                          th Client IP