extends ../layout-type01
block style
  link(href='/assets/sample/style/sankey01.css', rel='stylesheet')
  style.
    div.tooltip { 
      color : white;
      position: absolute;     
      text-align: center;     
      width: 60px;          
      height: auto;         
      padding: 2px;       
      font: 12px sans-serif;    
      background: red; 
      border: 0px;    
      border-radius: 8px;     
      pointer-events: none;     
    }
block script
  script(src='/assets/annie/js/d3.v3.min.js')
  script(src='/assets/sample/js/sankey.js')
  script(src='/assets/sample/js/d3.chart.min.js')
  script(src='/assets/sample/js/d3.chart.sankey.min.js')
  script(src='/assets/sample/script/sankey01_es1.js')  
block content
  input#indexs(type='hidden', name='indexs', value=indexs)
  .container-fluid
    .page-content
      .row
        .col-md-12
          .portlet.light.bordered(style='height:510px;')
            #chart