extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')  
  link(rel='stylesheet', href='/stylesheets/style.css')    
  link(type='text/css', rel='stylesheet', href='/assets/sample/style/jquery-ui.css')
  link(type='text/css', rel='stylesheet', href='/assets/sample/style/bigscatterchart.css')
block script  
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/assets/sample/js/jquery-ui.js')
    script(type='text/javascript', src='/assets/sample/js/modernizr.js')
    script(type='text/javascript', src='/assets/sample/js/underscore-min.js')
    script(type='text/javascript', src='/assets/sample/js/date.js')
    script(type='text/javascript', src='/assets/sample/js/jquery.Class.js')
    script(type='text/javascript', src='/assets/sample/js/jquery.dragToSelect.js')
    script(type='text/javascript', src='/assets/sample/js/jquery.BigScatterChart.js')
    script(type='text/javascript', src='/assets/sample/script/scatterTest01.js')
block content
  .container-fluid
    .page-content
      .row
        .col-md-9
          .portlet.light.bordered
            .portlet-body
              .chart(style='height:700px; ')
                #chart1
                |  
                button(onclick='oScatterChart.destroy()') Destory
                |  
                a#png-down(href='', download='BigScatterChart.png') Save as PNG
                |  
                a#jpg-down(href='', download='BigScatterChart.jpg') Save as JPEG