 	 extends layout-intro

block scripts
	script(src='/jquery.js')

//- block content
//- 	section.homepage-tiers
//- 		div.row
//- 			ul
//- 				li.basic
//- 					span.cicle
//- 					h2 EyeLink for ParStream
//- 						div.tier-description
//- 							p ParStream DB 기반의 EyeLink
//- 							p
//- 								a.lean-more(href="/") 기능 살펴보기
//- 							a.button-v2.light-v2.tier-cta(href="/member/registerc") 가입하기
//- 	section#home-intro.introduction
