doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-1.11.2.min.js")
		block scripts
	body
		div
			section.home-header
				header
					div.row
						h1
							a.header-sprite(href="/")
								img.svg(src="/images/logo.png" alt="Dental Jobs Logo")
						div.right-panel
							a.cta(href="/member/loginb") 관리자
							a.cta(href="/member/loginc") 일반사용자
			block content
	footer
		nav.footer-nav
			div.row
				ul.second-nav
					li
						a(href="/intl/corp") 설명
					li
						a(href="/intl/legal") 법적고지
					li
						a(href="/intl/contact") 연락처
			div.row.bottom-section
				div.copyright 저작권 2016 M2U Technology.
					span.all-rihts 모든 권리 보유.
