doctype html
html
head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.11.2.min.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='assets/plugins/select2/select2.css', rel='stylesheet', type='text/css')
    link(href='assets/css/login-soft.css', rel='stylesheet', type='text/css')
    link#style_components(href='assets/css/eyelink-components.css', rel='stylesheet', type='text/css')
    link(href='assets/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='assets/css/eyelink-layout.css', rel='stylesheet', type='text/css')
    link(href='assets/css/eyelink-custom.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='assets/images/favicon.ico')
    block scripts
  //- body
  //-   div
  //-     section.home-header
  //-       header
  //-         div.row
  //-           h1
  //-             a.header-sprite(href="/")
  //-               img.svg(src="/images/logo.png" alt="Dental Jobs Logo")
  //-           div.right-panel
  //-             a.cta(href="/member/loginb") 관리자
  //-             a.cta(href="/member/loginc") 일반사용자
  //-     block content
  //- footer
  //-   nav.footer-nav
  //-     div.row
  //-       ul.second-nav
  //-         li
  //-           a(href="/intl/corp") 설명
  //-         li
  //-           a(href="/intl/legal") 법적고지
  //-         li
  //-           a(href="/intl/contact") 연락처
  //-     div.row.bottom-section
  //-       div.copyright 저작권 2016 M2U Technology.
  //-         span.all-rihts 모든 권리 보유.
