<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2016 KT, Inc.
  ~ All right reserved.
  ~ This software is the confidential and proprietary information of KT
  ~ , Inc. You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with KT.
  ~
  ~ Revision History
  ~ Author              Date                  Description
  ~ Seo Jong Hwa        2016 . 7 . 6
  -->

<configuration>

    <!-- Configure Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date %level %class:%L - %message%n</pattern>
        </encoder>
    </appender>

    <!-- Configure APP LOG -->
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/aibot-kt/log/api/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/opt/aibot-kt/log/api/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/aibot-kt/log/api/service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/opt/aibot-kt/log/api/service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 통계용 로그 -->
    <appender name="STAT_APP" class="com.kt.programk.api.logging.FiveMinutesRollingAppender">
        <file>/opt/aibot-kt/log/stat/stat.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/opt/aibot-kt/log/stat/stat-%d{yyyyMMdd-HHmm}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kt.programk.common.logs.CLogger" level="debug" additivity="false">
        <appender-ref ref="SERVICE" />
        <!--<appender-ref ref="STDOUT" />-->
    </logger>

    <logger name="STAT" level="INFO">
        <appender-ref ref="STAT_APP" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="APP"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
