extends ../layout-type01
block style    
  link(rel='stylesheet', href='/efsl/assets/css/leaflet.css')
  link(rel='stylesheet', href='/efsl/assets/css/leaflet.markercluster.css')   
  link(type='text/css', rel='stylesheet', href='/efsl/assets/css/dc.css') 
  link(type='text/css', rel='stylesheet', href='/efsl/css/chart_style.css')
  link(type='text/css', rel='stylesheet', href='/common/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')
block script
  script(type='text/javascript', src='/efsl/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efsl/assets/scripts/crossfilter.js')
  script(type='text/javascript', src='/efsl/assets/scripts/dc.js')  
  script(type='text/javascript', src='/efsl/assets/scripts/colorbrewer.js')  
  script(type='text/javascript', src='/efsl/assets/scripts/leaflet.js')
  script(type='text/javascript', src='/efsl/assets/scripts/leaflet.markercluster.js')
  script(type='text/javascript', src='/efsl/assets/scripts/dc.leaflet.js')
  script(type='text/javascript', src='/common/assets/plugins/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/common/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')    
  script(type='text/javascript', src='/common/assets/scripts/page/table-managed.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(src='/efsl/scripts/report_fault.js')  
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Fault_Notification
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Reports
          li.active OverView
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                span.caption-helper Date range and select area
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body.form
               form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .form-group.last
                    label.control-label.col-md-1 Date Range
                    .col-md-4
                      .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                        input#sdate.form-control(type='text', name='from' value='')
                        span.input-group-addon to
                        input#edate.form-control(type='text', name='to' value='')
                    label.control-label.col-md-1 Select Area
                    .col-md-6.form-inline
                      select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Area')
                        option(value='') Zone ID
                        option(value='') All Area
                        option(value='') AreaID1234
                        option(value='') AreaID5678
                      select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Item')
                        option(value='') Node ID
                        option(value='') Node ID
                        option(value='') Item1234
                        option(value='') Item5678
                      button#btn_search.btn.blue
                        i.fa.fa-search Search
      a(href='javascript:dc.filterAll("fault"); dc.renderAll("fault");') Reset All
      .row
        .col-md-4
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Daily Count
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
                #dayCount
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Zone Count
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
                #groupCount      
        .col-md-5
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Map
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body              
              .chart       
                #bubble-map-map(style="width:300px; height:100px")
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Data Table
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:auto;')
                table.table.table-hover.dataTable
    p.copyright Copyright M2U Technology All rights reserved.
  a.go2top(href='#index')
    i.icon-arrow-up