extends ../layout-type01
block style    
  link(type='text/css', rel='stylesheet', href='/efsl/assets/css/dc.css') 
  link(type='text/css', rel='stylesheet', href='/efsl/css/chart_style.css')
block script
  script(type='text/javascript', src='/efsl/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efsl/assets/scripts/crossfilter.js')
  script(type='text/javascript', src='/efsl/assets/scripts/dc.js')  
  script(type='text/javascript', src='/efsl/assets/scripts/colorbrewer.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src='/efsl/scripts/report_all.js')          
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Reports_All
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Reports
          li.active OverView
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                span.caption-helper  Date range and select area
            .portlet-body.form
               form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .form-group.last
                    label.control-label.col-md-1 Date Range
                    .col-md-4
                      .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                        input#sdate.form-control(type='text', name='from' value='')
                        span.input-group-addon to
                        input#edate.form-control(type='text', name='to' value='')
                    label.control-label.col-md-1 Select Area
                    .col-md-6.form-inline
                      select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Area')
                        option(value='') Zone ID
                        option(value='') All Area
                        option(value='') AreaID1234
                        option(value='') AreaID5678
                      select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Item')
                        option(value='') Node ID
                        option(value='') Node ID
                        option(value='') Item1234
                        option(value='') Item5678
                      button#btn_search.btn.blue
                        i.fa.fa-search Search
      a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
                #eventChart(style='margine:0 auto;')
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Type Count by Day
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
                #eventBar
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count by Day
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
                #checkLine
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count by Node
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
                #nodeBar.chart
    p.copyright Copyright M2U Technology All rights reserved.
  a.go2top(href='#index')
    i.icon-arrow-up