doctype html
html(lang='en')
  head
    title dc.js - Dimensional Charting Javascript Library
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='assets/annie/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/annie/css/dc.css')
    link(rel='icon', type='image/x-icon', href='dc.logo.png')
    style.
      #monthly-volume-chart g.y {
      display: none;
      }
      #logo {
      margin-right: 2em;
      margin-top: 2em;
      }
  body
    .container
      h2 Nasdaq 100 Index 1985/11/01-2012/06/29
      .row
        #yearly-bubble-chart.dc-chart
          strong Yearly Performance
          |  (radius: fluctuation/index ratio, color: gain/loss) 
          a.reset(href='javascript:yearlyBubbleChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
      .row
        #gain-loss-chart
          strong Days by Gain/Loss
          |
          a.reset(href='javascript:gainOrLossChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
        #quarter-chart
          strong Quarters
          |
          a.reset(href='javascript:quarterChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
        #day-of-week-chart
          strong Day of Week
          |
          a.reset(href='javascript:dayOfWeekChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
        #fluctuation-chart
          strong Days by Fluctuation(%)
          |
          span.reset(style='display: none;')
            | range:
            span.filter
          |
          a.reset(href='javascript:fluctuationChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
      .row
        #monthly-move-chart
          strong Monthly Index Abs Move &amp; Volume/500,000 Chart
          |
          span.reset(style='display: none;')
            | range:
            span.filter
          |
          a.reset(href='javascript:moveChart.filterAll();volumeChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
      .row
        #monthly-volume-chart
        p.muted.pull-right(style='margin-right: 15px;') select a time range to zoom in
      .row
        div
          .dc-data-count
            span.filter-count
            |  selected out of
            span.total-count
            |  records |
            a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All
        table.table.table-hover.dc-data-table
      .clearfix
      |
      a(href='https://github.com/dc-js/dc.js')
        img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
    script(type='text/javascript', src='assets/annie/js/d3.js')
    script(type='text/javascript', src='assets/annie/js/crossfilter.js')
    script(type='text/javascript', src='assets/annie/js/dc.js')
    script(type='text/javascript', src='assets/annie/js/colorbrewer.js')
    script(type='text/javascript', src='scripts/stock.js')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33628816-1']);
      _gaq.push(['_trackPageview']);
      (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
