extends ../layout-type01
block style
block script
 script.
    $(document).ready(function() {

      $("#register-submit-btn").click(function() {
        if ($("#userid").val() == "") {
          $("#userid").focus();
          $("#register_tnc_error").html("User ID를 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        }
        if ($("#username").val() == "") {
          $("#username").focus();
          $("#register_tnc_error").html("User Name를 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        }
        if ($("#register_password").val() == "") {
          $("#register_password").focus();
          $("#register_tnc_error").html("Password 를 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        } else if ($("#register_password").val() != $("#register_password_1").val()) {
          $("#register_password").focus();
          $("#register_tnc_error").html("Password가 다릅니다. 다시 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        }
        if ($("#email").val() == "") {
          $("#email").focus();
          $("#register_tnc_error").html("Email을 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        } else {
          var a = $("#email").val().split('@');
          console.log(a);
          if (a[1] == null) {
            $("#email").focus();
            $("#register_tnc_error").html("Email주소를 정확히 입력하세요");
            $("#register_tnc_error").show();
            return false;
          }
        }

        // TODO 메시지 공통 영역으로
        if (confirm("등록 하시겠습니까? ")) {
          var userid = $("#userid").val();
          $.ajax({
            url: "/management/users/" + userid,
            dataType: "json",
            type: "POST",
            data:$('#create_account').serialize(),
            success: function(result) {
              alert('(' + result.rtnCode.code + ')' +result.rtnCode.message);
              if (result.rtnCode.code == "D001") {
                location.href = "/management/users";
              }
             },
            error: function(req, status, err) {
              //- alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
              $("#errormsg").html("code:"+status+"\n"+"message:"+req.responseText+"\n"+"error:"+err);
            }
          });
        }
      });

      $("#userid").keydown(function() {
        $("#register_tnc_error").html("");
        $("#register_tnc_error").hide();
      });
      $("#username").keydown(function() {
        $("#register_tnc_error").html("");
        $("#register_tnc_error").hide();
      });     
    });
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Sign up
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Management
          li
            a(href='/management/users') Users            
          li.active Sign up
      .row
        .col-md-12
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Sign Up
                span.caption-helper  Membership registration
            .portlet-body
              form#create_account.form-horizontal.register-form(onsubmit="return false;")
                .form-body                
                  .form-group
                    label.control-label.col-md-5 User ID
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 User ID
                      .input-icon
                        i.fa.fa-user
                        input#userid.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='User ID', name='userid')
                  .form-group
                    label.control-label.col-md-5 Name
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 User Name
                      .input-icon
                        i.fa.fa-font
                        input#username.form-control.placeholder-no-fix(type='text', placeholder='User Name', name='username')
                  .form-group
                    label.control-label.col-md-5 Password
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 Password
                      .input-icon
                        i.fa.fa-lock
                        input#register_password.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Password', name='password')
                  .form-group
                    label.control-label.col-md-5 Re-type Your Password
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 Re-type Your Password
                      .controls
                        .input-icon
                          i.fa.fa-check
                          input#register_password_1.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Re-type Your Password', name='password')
                  .form-group
                    label.control-label.col-md-5 Email
                    .col-md-3
                      .input-icon
                        i.fa.fa-envelope
                        input#email.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Email', name='email')
                  .form-group
                    label.control-label.col-md-5 Select Role
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 User Role
                      select#userrole.select2.form-control(name='userrole')
                        option(value='User') User
                        option(value='Super Manager') Super Manager
                        option(value='Zone Manager') Zone Manager
                        option(value='Asset Manager') Asset Manager                      
                  .form-group
                    #register_tnc_error(style='text-align:center;')
                    .col-md-10
                      button#register-submit-btn.btn.blue.pull-right Sign Up                      
                    .col-md-2
                      button.btn.btn-default(type='button', onclick="location.href='/management/users'") Cancel                    
            .portlet-footer
    p.copyright Copyright M2U Technology All rights reserved.
    a.go2top(href='#index')
      i.icon-arrow-up