extends ../efmm-layout01
block style
  link(rel='stylesheet', href='/efmm/css/chart_style.css')
  link(rel='stylesheet', href='/efmm/css/analysis_anomaly.css')
  link(rel='stylesheet', href='/efmm/assets/css/dc.css')
block script
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efmm/assets/scripts/colorbrewer.js')
  script(src='/efmm/assets/scripts/vue.min.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src='/efmm/scripts/analysis_anomaly.js')
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Anomaly
        - const steps = [{value: 'notching'}, {value: 'stacking'}]
        - const machines = [{value: '100'}, {value: '200'}]
        select#step
          each step in steps
            option(value=(step.value)) #{step.value}
        select#machine
          each machine in machines
            option(value=(machine.value)) #{machine.value}
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Analysis
          li.active Anomaly

      .row
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Overall OEE
                span.caption-helper
              .portlet-body
                .chart
                  #overall_oee
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Availability
                span.caption-helper
              .portlet-body
                .chart
                  #availability
      .row
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Performance
                span.caption-helper
              .portlet-body
                .chart
                  #performance
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Quality
                span.caption-helper
              .portlet-body
                .chart
                  #quality
