extends ../efmm-layout01
block style
  link(rel='stylesheet', href='/efmm/css/chart_style.css')
  link(rel='stylesheet', href='/efmm/css/analysis_anomaly.css')
  link(rel='stylesheet', href='/efmm/assets/css/dc.css')
block script
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efmm/assets/scripts/colorbrewer.js')
  script(src='/efmm/assets/scripts/vue.min.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src='/efmm/scripts/analysis_anomaly.js')
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Anomaly
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Analysis
          li.active Anomaly
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp selection
                span.caption-helper
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .row
                    label.control-label.col-md-1 Step
                    .col-md-2.form-inline
                      select#step.form-control.input-small.select2me.form-md-line-input
                        option(value='notching') Notching
                        option(value='stacking') Stacking
                        option(value='tabwelding') Tab Welding
                        option(value='packaging') Packaging
                        option(value='degassing') Degassing
                    label.control-label.col-md-1 Machine
                    .col-md-2.form-inline
                      select#machine.form-control.input-small.select2me.form-md-line-input
                        each machine in list
                          option(value=(machine.value)) #{machine}
                    .col-md-2.form-inline
                      button#btn_search.btn.blue
                        i.fa.fa-search  Search
      .row
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Overall OEE
                span.caption-helper
              .portlet-body
                .chart
                  #overall_oee
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Availability
                span.caption-helper
              .portlet-body
                .chart
                  #availability
      .row
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Performance
                span.caption-helper
              .portlet-body
                .chart
                  #performance
        .col-md-6.chart_item
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Quality
                span.caption-helper
              .portlet-body
                .chart
                  #quality
