.table.table-striped.table-bordered td {
   font-size: 11px;
}

.color-alarm {
  background: #ec8029;
}

.color-idle {
  background: #838a8d;
}

.color-active {
  background: #139300;
}

@media screen and (min-width: 768px) {
.custom-class {
    width: 70%; /* either % (e.g. 60%) or px (400px) */
}