.container div {
 display: inline-block;
  width: 20vw;
}

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.oline,
.legend .oline {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.aline,
.legend .aline {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.pline,
.legend .pline {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.qline,
.legend .qline {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}
