text{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

text {
  font: 15px sans-serif;
}

.axis path{
  fill: none;
  stroke: #000;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}