doctype html
html
  head
    meta(charset='utf-8')
    title Eyelink Mockup
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    link(href='assets/plugins/morris.css', rel='stylesheet', type='text/css')
    link(href='assets/plugins/tasks.css', rel='stylesheet', type='text/css')
    link#style_components(href='assets/css/eyelink-components.css', rel='stylesheet', type='text/css')
    link(href='assets/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='assets/css/eyelink-layout.css', rel='stylesheet', type='text/css')
    link(href='assets/css/eyelink-custom.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='assets/images/favicon.ico')
  body.page-header-fixed.page-quick-sidebar-over-content
    .wrapper
      header.page-header
        nav.navbar.mega-menu(role='navigation')
          .container-fluid
            .clearfix.navbar-fixed-top
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.sr-only Toggle navigation
                span.toggle-icon
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a#index.page-logo(href='#')
                h1 EYELINK
              form.search(action='', method='GET')
                input.form-control(type='name', name='query', placeholder='Search...')
                a.btn.submit(href='javascript:;')
                  i.fa.fa-search
              .topbar-actions
                #header_notification_bar.btn-group-notification.btn-group
                  button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-bell
                    |  
                    span.badge 12
                  ul.dropdown-menu-v2
                    li.external
                      h3
                        span.bold 12 pending
                        |  notifications
                      |  
                      a(href='#') view all
                    li
                      ul.dropdown-menu-list.scroller(style='height: 250px; padding: 0;', data-handle-color='#637283')
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-success
                                i.fa.fa-plus
                              |  Add new datasheet.
                            |  
                            span.time just now
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  Server #12 overloaded.
                            |  
                            span.time 3 mins
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-warning
                                i.fa.fa-bell-o
                              |  Server #2 not responding.
                            |  
                            span.time 10 mins
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-info
                                i.fa.fa-bullhorn
                              |  Application error.
                            |  
                            span.time 14 hrs
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  Database overloaded 68%.
                            |  
                            span.time 2 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  A user IP blocked.
                            |  
                            span.time 3 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-warning
                                i.fa.fa-bell-o
                              |  Storage Server #4 not responding.
                            |  
                            span.time 4 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-info
                                i.fa.fa-bullhorn
                              |  System Error.
                            |  
                            span.time 5 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  Storage server failed.
                            |  
                            span.time 9 days
                .btn-group-add.btn-group
                  button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-plus
                  ul.dropdown-menu-v2(role='menu')
                    li.active
                      a(href='#') New Schedule
                    li
                      a(href='#') New Datasheet
                    li
                      a(href='#') New Task
                    li.divider
                    li
                      a(href='#')
                        | Comments 
                        span.badge.badge-success 4
                    li
                      a(href='#')
                        | Feedbacks 
                        span.badge.badge-danger 2
                .btn-group-user.btn-group
                  button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-user
                    |  
                    span Damon kim
                  ul.dropdown-menu-v2(role='menu')
                    li.active
                      a(href='#')
                        | My Profile 
                        span.badge.badge-danger 1
                    li
                      a(href='#')
                        | My Schedule 
                        span.badge.badge-info 3
                    li
                      a(href='#') My Tasks
                    li.divider
                    li
                      a(href='index.html') Log Out
                |  
                button.quick-sidebar-toggler(type='button', data-toggle='collapse')
                  span.sr-only Toggle Quick Sidebar
                  i.icon-logout
            .nav-collapse.collapse.navbar-collapse.navbar-responsive-collapse
              ul.nav.navbar-nav.text-uppercase
                li.dropdown.dropdown-fw.open.selected
                  a(href='javascript:;') STATUS
                  ul.dropdown-menu.dropdown-menu-fw
                    li.active
                      a(href='#') Dashboard
                    li
                      a(href='livedata.html') Live Data
                    li
                      a(href='#') Requested task
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Reports
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='reports.html') Report Name
                    li
                      a(href='reports.html') Report Name
                    li
                      a(href='reports.html') Report Name
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Time Series
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='timeseries.html') Time Series Name
                    li
                      a(href='timeseries.html') Time Series Name
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Users
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='#') Users Menu
                    li
                      a(href='#') Users Menu
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Settings
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='#') Preferences
                    li
                      a(href='#') Configuration
      .container-fluid
        .page-content
          .row
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat.blue-madison
                .visual
                  i.fa.fa-users
                .details
                  .number  1349
                  .desc  New State Num
                  |  
                  a.more(href='javascript:;') View more
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat.red-intense
                .visual
                  i.fa.fa-bar-chart-o
                .details
                  .number  12,5M$
                  .desc  Total State Num
                  |  
                  a.more(href='javascript:;') View more
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat.green-haze
                .visual
                  i.fa.fa-comments
                .details
                  .number  549
                  .desc  New State Num
                  |  
                  a.more(href='javascript:;') View more
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat.purple-plum
                .visual
                  i.fa.fa-gears
                .details
                  .number  +89%
                  .desc  Total State Num
                  |  
                  a.more(href='javascript:;') View more
          .row
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat2
                .display
                  .number
                    h3.font-blue-sharp 47,800
                    |  
                    small TOTAL MONTHLY EVENT
                  .icon
                    i.icon-calendar
                .progress-info
                  .progress
                    span.progress-bar.progress-bar-success.blue-sharp(style='width: 76%;')
                      span.sr-only 76% progress
                  .status
                    .status-title  From the previous month
                    .status-number  76%
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat2
                .display
                  .number
                    h3.font-green-sharp 1,246
                    |  
                    small Total Daily Event
                  .icon
                    i.icon-pie-chart
                .progress-info
                  .progress
                    span.progress-bar.progress-bar-success.green-sharp(style='width: 85%;')
                      span.sr-only 85% change
                  .status
                    .status-title  From the daily average
                    .status-number  85%
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat2
                .display
                  .number
                    h3.font-red-haze 567
                    |  
                    small Daily Active Event
                  .icon
                    i.icon-speedometer
                .progress-info
                  .progress
                    span.progress-bar.progress-bar-success.red-haze(style='width: 45%;')
                      span.sr-only 45% grow
                  .status
                    .status-title  From the daily average
                    .status-number  45%
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .dashboard-stat2
                .display
                  .number
                    h3.font-yellow-green 276
                    |  
                    small Process Active Event
                  .icon
                    i.icon-energy
                .progress-info
                  .progress
                    span.progress-bar.progress-bar-success.yellow-green(style='width: 57%;')
                      span.sr-only 57% change
                  .status
                    .status-title  process
                    .status-number  57%
          .row
            .col-md-12
              .portlet.light.bordered
                .portlet-title
                  .caption.font-dark
                    span.caption-subject.bold.uppercase Chart title
                    |  
                    span.caption-helper description
                  .actions
                    a.btn.btn-default.btn-sm(href='#')
                      i.fa.fa-pencil
                      |  Edit
                    a.btn.btn-default.btn-sm(href='#')
                      i.fa.fa-plus
                      |  Add
                    a.btn.btn-icon-only.btn-default.fullscreen(href='#')
                .portlet-body
                  #CSSAnimationChart.CSSAnimationChart
          .row
            .col-md-6
              .portlet.light
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Chart Title
                    |  
                    span.caption-helper description
                  .tools
                    a.collapse(href='javascript:;')
                    a.config(href='#portlet-config', data-toggle='modal')
                    a.reload(href='javascript:;')
                    a.fullscreen(href='javascript:;')
                    a.remove(href='javascript:;')
                .portlet-body
                  #chart_3.chart(style='height: 400px;')
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-red-sunglo Map
                    |  
                    span.caption-helper description
                  .tools
                    a.collapse(href='javascript:;')
                    a.config(href='#portlet-config', data-toggle='modal')
                    a.reload(href='javascript:;')
                    a.fullscreen(href='javascript:;')
                    a.remove(href='javascript:;')
                .portlet-body
                  #mapChart.mapChart(style='height: 400px;')
          .row
            .col-md-6
              .portlet.light
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Chart Title
                    |  
                    span.caption-helper description
                  .tools
                    a.collapse(href='javascript:;')
                    a.config(href='#portlet-config', data-toggle='modal')
                    a.reload(href='javascript:;')
                    a.fullscreen(href='javascript:;')
                    a.remove(href='javascript:;')
                .portlet-body
                  #chart_1.chart(style='height: 400px;')
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-red-sunglo Chart Tilte
                    |  
                    span.caption-helper description
                  .tools
                    a.collapse(href='javascript:;')
                    a.config(href='#portlet-config', data-toggle='modal')
                    a.reload(href='javascript:;')
                    a.fullscreen(href='javascript:;')
                    a.remove(href='javascript:;')
                .portlet-body
                  #chart_5.chart(style='height: 400px;')
          .row
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption.caption-md.font-blue
                    i.icon-bar-chart.theme-font.hide
                    |  
                    span.caption-subject.theme-font.bold.uppercase Summary
                    |  
                    span.caption-helper.hide description
                  .actions
                    .btn-group.btn-group-devided(data-toggle='buttons')
                      label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
                        input#option1.toggle(type='radio', name='options')
                        |  Today
                      |  
                      label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                        input#option2.toggle(type='radio', name='options')
                        |  Week
                      |  
                      label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                        input#option2.toggle(type='radio', name='options')
                        |  Month
                .portlet-body
                  .row.list-separated
                    .col-md-3.col-sm-3.col-xs-6
                      .font-grey-mint.font-sm  Total
                      .uppercase.font-hg.font-red-flamingo
                        | 13,760 
                        span.font-lg.font-grey-mint $
                    .col-md-3.col-sm-3.col-xs-6
                      .font-grey-mint.font-sm  Revenue
                      .uppercase.font-hg.theme-font
                        | 4,760 
                        span.font-lg.font-grey-mint $
                    .col-md-3.col-sm-3.col-xs-6
                      .font-grey-mint.font-sm  Expenses
                      .uppercase.font-hg.font-purple
                        | 11,760 
                        span.font-lg.font-grey-mint $
                    .col-md-3.col-sm-3.col-xs-6
                      .font-grey-mint.font-sm  Growth
                      .uppercase.font-hg.font-blue-sharp
                        | 9,760 
                        span.font-lg.font-grey-mint $
                  ul.list-separated.list-inline-xs.hide
                    li
                      .font-grey-mint.font-sm  Total
                      .uppercase.font-hg.font-red-flamingo
                        | 13,760 
                        span.font-lg.font-grey-mint $
                    li
                    li.border
                      .font-grey-mint.font-sm  Revenue
                      .uppercase.font-hg.theme-font
                        | 4,760 
                        span.font-lg.font-grey-mint $
                    li.divider
                    li
                      .font-grey-mint.font-sm  Expenses
                      .uppercase.font-hg.font-purple
                        | 11,760 
                        span.font-lg.font-grey-mint $
                    li.divider
                    li
                      .font-grey-mint.font-sm  Growth
                      .uppercase.font-hg.font-blue-sharp
                        | 9,760 
                        span.font-lg.font-grey-mint $
                  #sales_statistics.portlet-body-morris-fit.morris-chart(style='height: 260px')
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption.caption-md.font-red-sunglo
                    i.icon-bar-chart.theme-font.hide
                    |  
                    span.caption-subject.theme-font.bold.uppercase Activity
                    |  
                    span.caption-helper.hide description
                  .actions
                    .btn-group.btn-group-devided(data-toggle='buttons')
                      label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
                        input#option1.toggle(type='radio', name='options')
                        |  Today
                      |  
                      label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                        input#option2.toggle(type='radio', name='options')
                        |  Week
                      |  
                      label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                        input#option2.toggle(type='radio', name='options')
                        |  Month
                .portlet-body
                  .row.number-stats.margin-bottom-30
                    .col-md-6
                      .stat-left
                        .stat-chart
                          #sparkline_bar
                        .stat-number
                          .title  Total
                          .number  2460
                    .col-md-6
                      .stat-right
                        .stat-chart
                          #sparkline_bar2
                        .stat-number
                          .title  New
                          .number  719
                  .table-scrollable.table-scrollable-borderless
                    table.table.table-hover.table-light
                      thead
                        tr.uppercase
                          th(colspan='2')  Item
                          th  Earnings
                          th  CASES
                          th  CLOSED
                          th  RATE
                      tr
                        td.fit
                          span.label.label-primary.icon-pic
                            i.fa.fa-bookmark
                        td
                          a.primary-link(href='javascript:;') Item title
                        td  $345
                        td  45
                        td  124
                        td
                          span.bold.theme-font 80%
                      tr
                        td.fit
                          span.label.label-info.icon-pic
                            i.fa.fa-user
                        td
                          a.primary-link(href='javascript:;') Item title
                        td  $560
                        td  12
                        td  24
                        td
                          span.bold.theme-font 67%
                      tr
                        td.fit
                          span.label.label-success.icon-pic
                            i.fa.fa-archive
                        td
                          a.primary-link(href='javascript:;') Item title
                        td  $1,345
                        td  450
                        td  46
                        td
                          span.bold.theme-font 98%
                      tr
                        td.fit
                          span.label.label-warning.icon-pic
                            i.fa.fa-database
                        td
                          a.primary-link(href='javascript:;') Item title
                        td  $645
                        td  50
                        td  89
                        td
                          span.bold.theme-font 58%
          .row
            .col-md-6
              .portlet.light.bordered.tasks-widget
                .portlet-title
                  .caption.caption-md.font-blue
                    i.icon-calendar.font-blue
                    |  
                    span.caption-subject.theme-font.bold.uppercase TASKS
                    |  
                    span.caption-helper 16 pending
                  .inputs
                    .portlet-input.input-small.input-inline
                      .input-icon.right
                        i.icon-magnifier
                        |  
                        input.form-control.form-control-solid(type='text', placeholder='search...')
                .portlet-body
                  .task-content
                    .scroller(style='height: 282px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
                      ul.task-list
                        li
                          .task-checkbox
                            input(type='hidden', value='1', name='test')
                            |  
                            input.liChild(type='checkbox', value='2', name='test')
                          .task-title
                            span.task-title-sp Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                            |  
                            span.label.label-sm.label-success Labelname
                            span.task-bell
                              i.fa.fa-bell-o
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Ut enim ad minim veniam, quis nostrud exercitation
                            |  
                            span.label.label-sm.label-danger Labelname
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                            |  
                            span.label.label-sm.label-success Labelname
                            span.task-bell
                              i.fa.fa-bell-o
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                            |  
                            span.label.label-sm.label-warning Labelname
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Ut enim ad minim veniam, quis nostrud exercitation
                            |  
                            span.label.label-sm.label-info Labelname
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                            |  
                            span.label.label-sm.label-danger Labelname
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Ut enim ad minim veniam, quis nostrud exercitation
                            |  
                            span.label.label-sm.label-default Labelname
                            span.task-bell
                              i.fa.fa-bell-o
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Lorem ipsum dolor sit amet, consectetur
                            |  
                            span.label.label-sm.label-success Labelname
                            span.task-bell
                              i.fa.fa-bell-o
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                        li.last-line
                          .task-checkbox
                            input.liChild(type='checkbox', value='')
                          .task-title
                            span.task-title-sp Ut enim ad minim veniam, quis nostrud exercitation
                            |  
                            span.label.label-sm.label-warning Labelname
                          .task-config
                            .task-config-btn.btn-group
                              a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                                i.fa.fa-cog
                                i.fa.fa-angle-down
                              ul.dropdown-menu.pull-right
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-check
                                    |  Complete
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-pencil
                                    |  Edit
                                li
                                  a(href='javascript:;')
                                    i.fa.fa-trash-o
                                    |  Cancel
                  .task-footer
                    .btn-arrow-link.pull-right
                      a(href='javascript:;') See All Tasks
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption.caption-md.font-red-sunglo
                    i.icon-bubble.font-red-sunglo
                    |  
                    span.caption-subject.theme-font.bold.uppercase Customer Support
                    |  
                    span.caption-helper 45 pending
                  .inputs
                    .portlet-input.input-inline.input-small
                      .input-icon.right
                        i.icon-magnifier
                        |  
                        input.form-control.form-control-solid(type='text', placeholder='search...')
                .portlet-body
                  .scroller(style='height: 305px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
                    .general-item-list
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user1.png')
                            |  
                            a.item-name.primary-link(href='#') Minshik Kim
                            |  
                            span.item-label 3 hrs ago
                          span.item-status
                            span.badge.badge-empty.badge-success
                            |  Open
                        .item-body
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user2.png')
                            |  
                            a.item-name.primary-link(href='#') Jihyoung Lee
                            |  
                            span.item-label 5 hrs ago
                          span.item-status
                            span.badge.badge-empty.badge-warning
                            |  Pending
                        .item-body
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet.
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user1.png')
                            |  
                            a.item-name.primary-link(href='#') Gildong Hong
                            |  
                            span.item-label 8 hrs ago
                          span.item-status
                            span.badge.badge-empty.badge-primary
                            |  Closed
                        .item-body
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user2.png')
                            |  
                            a.item-name.primary-link(href='#') Eunkyoung Min
                            |  
                            span.item-label 12 hrs ago
                          span.item-status
                            span.badge.badge-empty.badge-danger
                            |  Pending
                        .item-body
                          | Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user2.png')
                            |  
                            a.item-name.primary-link(href='#') Heybin Cho
                            |  
                            span.item-label 2 days ago
                          span.item-status
                            span.badge.badge-empty.badge-danger
                            |  Open
                        .item-body
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat.
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user1.png')
                            |  
                            a.item-name.primary-link(href='#') Joohee Kim
                            |  
                            span.item-label 3 days ago
                          span.item-status
                            span.badge.badge-empty.badge-warning
                            |  Pending
                        .item-body
                          | Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .item
                        .item-head
                          .item-details
                            img.item-pic(src='assets/images/user1.png')
                            |  
                            a.item-name.primary-link(href='#') Junghyoung Lee
                            |  
                            span.item-label 4 hrs ago
                          span.item-status
                            span.badge.badge-empty.badge-success
                            |  Open
                        .item-body
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption.caption-md.font-blue
                    i.icon-share.font-blue
                    |  
                    span.caption-subject.theme-font.bold.uppercase Recent Activities
                  .actions
                    .btn-group
                      a.btn.btn-sm.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                        | Filter By
                        i.fa.fa-angle-down
                      .dropdown-menu.hold-on-click.dropdown-checkboxes.pull-right
                        label
                          input(type='checkbox', checked='')
                          |  Membership
                        |  
                        label
                          input(type='checkbox')
                          |  Customer Support
                        |  
                        label
                          input(type='checkbox', checked='')
                          |  HR
                        |  
                        label
                          input(type='checkbox')
                          |  System
                .portlet-body
                  .scroller(style='height: 308px;', data-always-visible='1', data-rail-visible='0')
                    ul.feeds
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-check
                            .cont-col2
                              .desc
                                | You have 4 pending tasks. 
                                span.label.label-sm.label-warning
                                  | Take action
                                  i.fa.fa-share
                        .col2
                          .date  Just now
                      li
                        a(href='#')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-success
                                  i.fa.fa-bar-chart-o
                              .cont-col2
                                .desc  Finance Report for year 2013 has been released.
                          .col2
                            .date  20 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-danger
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-bullhorn
                            .cont-col2
                              .desc
                                | New request received with 
                                span.label.label-sm.label-success Number: DR23923
                        .col2
                          .date  30 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-success
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-default
                                i.fa.fa-bell-o
                            .cont-col2
                              .desc
                                | Web server hardware needs to be upgraded. 
                                span.label.label-sm.label-default Overdue
                        .col2
                          .date  2 hours
                      li
                        a(href='#')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-default
                                  i.fa.fa-briefcase
                              .cont-col2
                                .desc  Report for year 2016 has been released.
                          .col2
                            .date  20 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-check
                            .cont-col2
                              .desc
                                | You have 4 pending tasks. 
                                span.label.label-sm.label-warning
                                  | Take action
                                  i.fa.fa-share
                        .col2
                          .date  Just now
                      li
                        a(href='#')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-danger
                                  i.fa.fa-bar-chart-o
                              .cont-col2
                                .desc  Finance Report for year 2013 has been released.
                          .col2
                            .date  20 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-default
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-bullhorn
                            .cont-col2
                              .desc
                                | New request received with 
                                span.label.label-sm.label-success Number: DR23923
                        .col2
                          .date  30 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-success
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-warning
                                i.fa.fa-bell-o
                            .cont-col2
                              .desc
                                | Web server hardware needs to be upgraded. 
                                span.label.label-sm.label-default Overdue
                        .col2
                          .date  2 hours
                      li
                        a(href='#')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-info
                                  i.fa.fa-briefcase
                              .cont-col2
                                .desc  Report for year 2016 has been released.
                          .col2
                            .date  20 mins
                  .scroller-footer
                    .btn-arrow-link.pull-right
                      a(href='#') See All Records
                      i.icon-arrow-right
            .col-md-6
              .portlet.light.bordered
                .portlet-title.tabbable-line
                  .caption.caption-md.font-red-sunglo
                    i.icon-globe.font-red-sunglo
                    |  
                    span.caption-subject.theme-font.bold.uppercase Feeds
                  ul.nav.nav-tabs
                    li.active
                      a(href='#tab_1_1', data-toggle='tab') System
                    li
                      a(href='#tab_1_2', data-toggle='tab') Activities
                .portlet-body
                  .tab-content
                    #tab_1_1.tab-pane.active
                      .scroller(style='height: 337px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
                        ul.feeds
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-success
                                    i.fa.fa-bell-o
                                .cont-col2
                                  .desc
                                    | You have 4 pending tasks. 
                                    span.label.label-sm.label-info
                                      | Take action
                                      i.fa.fa-share
                            .col2
                              .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New version v1.4 just lunched!
                              .col2
                                .date  20 mins
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-danger
                                    i.fa.fa-bolt
                                .cont-col2
                                  .desc  Database server #12 overloaded. Please fix the issue.
                            .col2
                              .date  24 mins
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-info
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  New order received and pending for process.
                            .col2
                              .date  30 mins
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-success
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  New payment refund and pending approval.
                            .col2
                              .date  40 mins
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-warning
                                    i.fa.fa-plus
                                .cont-col2
                                  .desc  New member registered. Pending approval.
                            .col2
                              .date  1.5 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-success
                                    i.fa.fa-bell-o
                                .cont-col2
                                  .desc
                                    | Web server hardware needs to be upgraded. 
                                    span.label.label-sm.label-default Overdue
                            .col2
                              .date  2 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-default
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  Prod01 database server is overloaded 90%.
                            .col2
                              .date  3 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-warning
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  New group created. Pending manager review.
                            .col2
                              .date  5 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-info
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  Order payment failed.
                            .col2
                              .date  18 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-default
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  New application received.
                            .col2
                              .date  21 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-info
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  Dev90 web server restarted. Pending overall system check.
                            .col2
                              .date  22 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-default
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  New member registered. Pending approval
                            .col2
                              .date  21 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-info
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  L45 Network failure. Schedule maintenance.
                            .col2
                              .date  22 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-default
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  Order canceled with failed payment.
                            .col2
                              .date  21 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-info
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  Web-A2 clound instance created. Schedule full scan.
                            .col2
                              .date  22 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-default
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  Member canceled. Schedule account review.
                            .col2
                              .date  21 hours
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-info
                                    i.fa.fa-bullhorn
                                .cont-col2
                                  .desc  New order received. Please take care of it.
                            .col2
                              .date  22 hours
                    #tab_1_2.tab-pane
                      .scroller(style='height: 337px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
                        ul.feeds
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New order received
                              .col2
                                .date  10 mins
                          li
                            .col1
                              .cont
                                .cont-col1
                                  .label.label-sm.label-danger
                                    i.fa.fa-bolt
                                .cont-col2
                                  .desc
                                    | Order #24DOP4 has been rejected. 
                                    span.label.label-sm.label-danger
                                      | Take action
                                      i.fa.fa-share
                            .col2
                              .date  24 mins
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
                          li
                            a(href='javascript:;')
                              .col1
                                .cont
                                  .cont-col1
                                    .label.label-sm.label-success
                                      i.fa.fa-bell-o
                                  .cont-col2
                                    .desc  New user registered
                              .col2
                                .date  Just now
        a.page-quick-sidebar-toggler(href='javascript:;')
          i.icon-login
        .page-quick-sidebar-wrapper
          .page-quick-sidebar
            .nav-justified
              ul.nav.nav-tabs.nav-justified
                li.active
                  a(href='#quick_sidebar_tab_2', data-toggle='tab')
                    | Alerts 
                    span.badge.badge-success 7
                li
                  a(href='#quick_sidebar_tab_1', data-toggle='tab')
                    | Users 
                    span.badge.badge-danger 2
                li.dropdown
                  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                    | More
                    i.fa.fa-angle-down
                  ul.dropdown-menu.pull-right(role='menu')
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-bell
                        |  Alerts
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-bookmark
                        |  Notifications
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-comments
                        |  Activities
                    li.divider
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-cog
                        |  Settings
              .tab-content
                #quick_sidebar_tab_2.tab-pane.active.page-quick-sidebar-alerts
                  .page-quick-sidebar-alerts-list
                    h3.list-heading General
                    ul.feeds.list-items
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-bullhorn
                            .cont-col2
                              .desc
                                | New request received with 
                                span.label.label-sm.label-danger Number: DR23923
                        .col2
                          .date  30 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-success
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-danger
                                i.fa.fa-bell-o
                            .cont-col2
                              .desc
                                | Web server hardware needs to be upgraded. 
                                span.label.label-sm.label-warning Overdue
                        .col2
                          .date  2 hours
                      li
                        a(href='javascript:;')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-default
                                  i.fa.fa-briefcase
                              .cont-col2
                                .desc  Report for year 2016 has been released.
                          .col2
                            .date  20 mins
                    h3.list-heading System
                    ul.feeds.list-items
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-bullhorn
                            .cont-col2
                              .desc
                                | New request received with 
                                span.label.label-sm.label-success Number: DR23923
                        .col2
                          .date  30 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-success
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-warning
                                i.fa.fa-bell-o
                            .cont-col2
                              .desc
                                | Web server hardware needs to be upgraded. 
                                span.label.label-sm.label-default Overdue
                        .col2
                          .date  2 hours
                      li
                        a(href='javascript:;')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-info
                                  i.fa.fa-briefcase
                              .cont-col2
                                .desc  Report for year 2016 has been released.
                          .col2
                            .date  20 mins
                #quick_sidebar_tab_1.tab-pane.active.page-quick-sidebar-chat
                  .page-quick-sidebar-chat-users(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
                    h3.list-heading Staff
                    ul.media-list.list-items
                      li.media
                        .media-status
                          span.badge.badge-success 8
                        |  
                        img.media-object(src='assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Gildong Hong
                          .media-heading-sub  Area01 staff
                      li.media
                        img.media-object(src='assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Minsick Kim
                          .media-heading-sub  Area01 staff
                      li.media
                        .media-status
                          span.badge.badge-danger 3
                        |  
                        img.media-object(src='assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Sungsu Jung
                          .media-heading-sub  Area01 staff
                      li.media
                        img.media-object(src='assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Goungmin Kim
                          .media-heading-sub  Area01 staff
                    h3.list-heading Manager
                    ul.media-list.list-items
                      li.media
                        .media-status
                          span.badge.badge-warning 2
                        |  
                        img.media-object(src='assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Minjung Lee
                          .media-heading-sub  Area02 staff
                          .media-heading-small  Last seen 03:10 AM
                      li.media
                        .media-status
                          span.label.label-sm.label-success new
                        |  
                        img.media-object(src='assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Haejin Park
                          .media-heading-sub  Area02 staff
                          .media-heading-small  Last seen 03:10 AM
                      li.media
                        img.media-object(src='assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Younggil Park
                          .media-heading-sub  Area02 staff
                          .media-heading-small  Last seen 13:10 PM
                      li.media
                        .media-status
                          span.badge.badge-success 7
                        |  
                        img.media-object(src='assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Manager Name
                          .media-heading-sub  Area03 staff
                      li.media
                        img.media-object(src='assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Manager Name
                          .media-heading-sub  Area03 staff
                  .page-quick-sidebar-item
                    .page-quick-sidebar-chat-user
                      .page-quick-sidebar-nav
                        a.page-quick-sidebar-back-to-list(href='javascript:;')
                          i.icon-arrow-left
                          |  Back
                      .page-quick-sidebar-chat-user-messages
                        .post.out
                          img.avatar(alt='', src='assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:15
                            |  
                            span.body When could you send me the report ?
                        .post.in
                          img.avatar(alt='', src='assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:15
                            |  
                            span.body Its almost done. I will be sending it shortly
                        .post.out
                          img.avatar(alt='', src='assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:15
                            |  
                            span.body Alright. Thanks! :)
                        .post.in
                          img.avatar(alt='', src='assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:16
                            |  
                            span.body You are most welcome. Sorry for the delay.
                        .post.out
                          img.avatar(alt='', src='assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gindong Hong
                            |  
                            span.datetime 20:17
                            |  
                            span.body No probs. Just take your time :)
                        .post.in
                          img.avatar(alt='', src='assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:40
                            |  
                            span.body Alright. I just emailed it to you.
                        .post.out
                          img.avatar(alt='', src='assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:17
                            |  
                            span.body Great! Thanks. Will check it right away.
                        .post.in
                          img.avatar(alt='', src='assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:40
                            |  
                            span.body Please let me know if you have any comment.
                        .post.out
                          img.avatar(alt='', src='assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:17
                            |  
                            span.body Sure. I will check and buzz you if anything needs to be corrected.
                      .page-quick-sidebar-chat-user-form
                        .input-group
                          input.form-control(type='text', placeholder='Type a message here...')
                          .input-group-btn
                            button.btn.blue(type='button')
                              i.icon-paper-clip
                #quick_sidebar_tab_3.tab-pane.page-quick-sidebar-settings
                  .page-quick-sidebar-settings-list
                    h3.list-heading General Settings
                    ul.list-items.borderless
                      li
                        | Enable Notifications 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Allow Tracking 
                        input.make-switch(type='checkbox', data-size='small', data-on-color='info', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Log Errors 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Auto Sumbit Issues 
                        input.make-switch(type='checkbox', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Enable SMS Alerts 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                    h3.list-heading System Settings
                    ul.list-items.borderless
                      li
                        | Security Level 
                        select.form-control.input-inline.input-sm.input-small
                          option(value='1') Normal
                          option(value='2', selected='') Medium
                          option(value='e') High
                      li
                        | Failed Email Attempts 
                        input.form-control.input-inline.input-sm.input-small(value='5')
                      li
                        | Secondary SMTP Port 
                        input.form-control.input-inline.input-sm.input-small(value='3560')
                      li
                        | Notify On System Error 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Notify On SMTP Error 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                    .inner-content
                      button.btn.btn-success
                        i.icon-settings
                        |  Save Changes
        p.copyright Copyright M2U Technology All rights reserved.
    a.go2top(href='#index')
      i.icon-arrow-up
    script(src='assets/scripts/libs/jquery.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery-migrate.min.js', type='text/javascript')
    script(src='assets/scripts/libs/bootstrap.min.js', type='text/javascript')
    script(src='assets/scripts/libs/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery.slimscroll.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery.blockui.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery.uniform.min.js', type='text/javascript')
    script(src='assets/scripts/libs/bootstrap-switch.min.js', type='text/javascript')
    script(src='assets/plugins/charts/amcharts/amstockcharts/amstock.js', type='text/javascript')
    script(src='assets/plugins/charts/charts-amcharts.js', type='text/javascript')
    script(src='assets/plugins/charts/amcharts/amcharts/amcharts.js', type='text/javascript')
    script(src='assets/plugins/charts/amcharts/amcharts/serial.js', type='text/javascript')
    script(src='assets/plugins/charts/amcharts/amcharts/themes/light.js', type='text/javascript')
    script(src='assets/plugins/charts/amcharts/ammap/ammap.js', type='text/javascript')
    script(src='assets/plugins/charts/amcharts/ammap/maps/js/worldLow.js', type='text/javascript')
    script(src='assets/plugins/charts/morris/morris.min.js', type='text/javascript')
    script(src='assets/plugins/charts/morris/raphael-min.js', type='text/javascript')
    script(src='assets/plugins/charts/jquery.sparkline.min.js', type='text/javascript')
    script(src='assets/scripts/eyelink-ui.js', type='text/javascript')
    script(src='assets/scripts/eyelink-layout.js', type='text/javascript')
    script(src='assets/scripts/eyelink-quick-sidebar.js', type='text/javascript')
    script(src='assets/scripts/page/sample-data.js', type='text/javascript')
    script(src='assets/plugins/tasks.js', type='text/javascript')
    script(src='assets/scripts/page/layout.js', type='text/javascript')
    script.
      jQuery(document).ready(function() {
      Metronic.init(); // init metronic core componets
      eyelinkLayout.init(); // init layout
      QuickSidebar.init(); // init quick sidebar
      Layout.init(); // init layout
      Index.init(); // init index page
      Tasks.initDashboardWidget(); // init tash dashboard widget
      ChartsAmcharts.init();
      });
