doctype html
html
  head
    meta(charset='utf-8')
    title Eyelink Mockup
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/clockface/css/clockface.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/bootstrap-colorpicker/css/colorpicker.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/bootstrap-select/bootstrap-select.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/select2/select2.css')
    link(rel='stylesheet', type='text/css', href='/assets/plugins/jquery-multi-select/css/multi-select.css')
    link#style_components(href='/assets/css/eyelink-components.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/eyelink-layout.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/eyelink-custom.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
  body.page-header-fixed.page-quick-sidebar-over-content
    .wrapper
      header.page-header
        nav.navbar.mega-menu(role='navigation')
          .container-fluid
            .clearfix.navbar-fixed-top
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.sr-only Toggle navigation
                span.toggle-icon
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a#index.page-logo(href='dashboard.html')
                h1 EYELINK
              form.search(action='', method='GET')
                input.form-control(type='name', name='query', placeholder='Search...')
                a.btn.submit(href='javascript:;')
                  i.fa.fa-search
              .topbar-actions
                #header_notification_bar.btn-group-notification.btn-group
                  button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-bell
                    |  
                    span.badge 12
                  ul.dropdown-menu-v2
                    li.external
                      h3
                        span.bold 12 pending
                        |  notifications
                      |  
                      a(href='#') view all
                    li
                      ul.dropdown-menu-list.scroller(style='height: 250px; padding: 0;', data-handle-color='#637283')
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-success
                                i.fa.fa-plus
                              |  Add new datasheet.
                            |  
                            span.time just now
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  Server #12 overloaded.
                            |  
                            span.time 3 mins
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-warning
                                i.fa.fa-bell-o
                              |  Server #2 not responding.
                            |  
                            span.time 10 mins
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-info
                                i.fa.fa-bullhorn
                              |  Application error.
                            |  
                            span.time 14 hrs
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  Database overloaded 68%.
                            |  
                            span.time 2 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  A user IP blocked.
                            |  
                            span.time 3 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-warning
                                i.fa.fa-bell-o
                              |  Storage Server #4 not responding.
                            |  
                            span.time 4 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-info
                                i.fa.fa-bullhorn
                              |  System Error.
                            |  
                            span.time 5 days
                        li
                          a(href='javascript:;')
                            span.details
                              span.label.label-sm.label-icon.label-danger
                                i.fa.fa-bolt
                              |  Storage server failed.
                            |  
                            span.time 9 days
                .btn-group-add.btn-group
                  button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-plus
                  ul.dropdown-menu-v2(role='menu')
                    li.active
                      a(href='#') New Schedule
                    li
                      a(href='#') New Datasheet
                    li
                      a(href='#') New Task
                    li.divider
                    li
                      a(href='#')
                        | Comments 
                        span.badge.badge-success 4
                    li
                      a(href='#')
                        | Feedbacks 
                        span.badge.badge-danger 2
                .btn-group-user.btn-group
                  button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-user
                    |  
                    span Damon kim
                  ul.dropdown-menu-v2(role='menu')
                    li.active
                      a(href='#')
                        | My Profile 
                        span.badge.badge-danger 1
                    li
                      a(href='#')
                        | My Schedule 
                        span.badge.badge-info 3
                    li
                      a(href='#') My Tasks
                    li.divider
                    li
                      a(href='index.html') Log Out
                |  
                button.quick-sidebar-toggler(type='button', data-toggle='collapse')
                  span.sr-only Toggle Quick Sidebar
                  i.icon-logout
            .nav-collapse.collapse.navbar-collapse.navbar-responsive-collapse
              ul.nav.navbar-nav.text-uppercase
                li.dropdown.dropdown-fw
                  a(href='javascript:;') STATUS
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='dashboard.html') Dashboard
                    li
                      a(href='livedata.html') Live Data
                    li
                      a(href='#') Requested task
                li.dropdown.dropdown-fw.open.selected
                  a(href='javascript:;') Reports
                  ul.dropdown-menu.dropdown-menu-fw
                    li.active
                      a(href='reports.html') Report Name
                    li
                      a(href='reports.html') Report Name
                    li
                      a(href='reports.html') Report Name
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Time Series
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='timeseries.html') Time Series Name
                    li
                      a(href='timeseries.html') Time Series Name
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Users
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='#') Users Menu
                    li
                      a(href='#') Users Menu
                li.dropdown.dropdown-fw
                  a(href='javascript:;') Settings
                  ul.dropdown-menu.dropdown-menu-fw
                    li
                      a(href='#') Preferences
                    li
                      a(href='#') Configuration
      .container-fluid
        .page-content
          .breadcrumbs
            h1 Reports
            ol.breadcrumb
              li
                a(href='#') Home
              li
                a(href='#') Reports
              li.active Report Name
          .row
            .col-md-12
              .portlet.light.bordered
                .portlet-title
                  .caption.font-dark
                    span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                    |  
                    span.caption-helper Date range and select area
                  .tools
                    a.collapse(href='javascript:;')
                    a.config(href='#portlet-config', data-toggle='modal')
                    a.reload(href='javascript:;')
                    a.fullscreen(href='javascript:;')
                    a.remove(href='javascript:;')
                .portlet-body.form
                  form.form-horizontal.form-bordered(action='#')
                    .form-body
                      .form-group.last
                        label.control-label.col-md-1 Date Range
                        .col-md-4
                          .input-group.input-large.date-picker.input-daterange(data-date='10/11/2012', data-date-format='mm/dd/yyyy')
                            input.form-control(type='text', name='from')
                            |  
                            span.input-group-addon to
                            |  
                            input.form-control(type='text', name='to')
                        |  
                        label.control-label.col-md-1 Select Area
                        .col-md-6.form-inline
                          select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Area')
                            option(value='')
                            option(value='') All Area
                            option(value='') AreaID1234
                            option(value='') AreaID5678
                          |  
                          select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Item')
                            option(value='')
                            option(value='') All Item
                            option(value='') Item1234
                            option(value='') Item5678
                          |  
                          button.btn.blue(type='submit')
                            i.fa.fa-search
                            |  Search
          .row
            .col-md-6
              .portlet.light
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Chart Title
                    |  
                    span.caption-helper Two Column chart
                  .actions
                    a.btn.btn-default.btn-sm(href='#')
                      i.fa.fa-print
                      |  Print
                    a.collapse(href='javascript:;')
                    a.btn.btn-icon-only.btn-default.fullscreen(href='#')
                .portlet-body
                  .chart(id='')  &#xC774;&#xACF3;&#xC5D0; &#xCC28;&#xD2B8;&#xB97C; &#xB123;&#xC2B5;&#xB2C8;&#xB2E4;.
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Chart Title
                    |  
                    span.caption-helper Two Column chart
                  .actions
                    a.btn.btn-default.btn-sm(href='#')
                      i.fa.fa-print
                      |  Print
                    a.collapse(href='javascript:;')
                    a.btn.btn-icon-only.btn-default.fullscreen(href='#')
                .portlet-body
                  .chart(id='')  &#xC774;&#xACF3;&#xC5D0; &#xCC28;&#xD2B8;&#xB97C; &#xB123;&#xC2B5;&#xB2C8;&#xB2E4;.
          .row
            .col-md-6
              .portlet.light
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Chart Title
                    |  
                    span.caption-helper Two Column chart
                  .actions
                    a.btn.btn-default.btn-sm(href='#')
                      i.fa.fa-print
                      |  Print
                    a.collapse(href='javascript:;')
                    a.btn.btn-icon-only.btn-default.fullscreen(href='#')
                .portlet-body
                  .chart(id='')  &#xC774;&#xACF3;&#xC5D0; &#xCC28;&#xD2B8;&#xB97C; &#xB123;&#xC2B5;&#xB2C8;&#xB2E4;.
            .col-md-6
              .portlet.light.bordered
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Chart Title
                    |  
                    span.caption-helper Two Column chart
                  .actions
                    a.btn.btn-default.btn-sm(href='#')
                      i.fa.fa-print
                      |  Print
                    a.collapse(href='javascript:;')
                    a.btn.btn-icon-only.btn-default.fullscreen(href='#')
                .portlet-body
                  #chart_1.chart  &#xC774;&#xACF3;&#xC5D0; &#xCC28;&#xD2B8;&#xB97C; &#xB123;&#xC2B5;&#xB2C8;&#xB2E4;.
        a.page-quick-sidebar-toggler(href='javascript:;')
          i.icon-login
        .page-quick-sidebar-wrapper
          .page-quick-sidebar
            .nav-justified
              ul.nav.nav-tabs.nav-justified
                li.active
                  a(href='#quick_sidebar_tab_2', data-toggle='tab')
                    | Alerts 
                    span.badge.badge-success 7
                li
                  a(href='#quick_sidebar_tab_1', data-toggle='tab')
                    | Users 
                    span.badge.badge-danger 2
                li.dropdown
                  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                    | More
                    i.fa.fa-angle-down
                  ul.dropdown-menu.pull-right(role='menu')
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-bell
                        |  Alerts
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-bookmark
                        |  Notifications
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-comments
                        |  Activities
                    li.divider
                    li
                      a(href='#quick_sidebar_tab_3', data-toggle='tab')
                        i.fa.fa-cog
                        |  Settings
              .tab-content
                #quick_sidebar_tab_2.tab-pane.active.page-quick-sidebar-alerts
                  .page-quick-sidebar-alerts-list
                    h3.list-heading General
                    ul.feeds.list-items
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-bullhorn
                            .cont-col2
                              .desc
                                | New request received with 
                                span.label.label-sm.label-danger Number: DR23923
                        .col2
                          .date  30 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-success
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-danger
                                i.fa.fa-bell-o
                            .cont-col2
                              .desc
                                | Web server hardware needs to be upgraded. 
                                span.label.label-sm.label-warning Overdue
                        .col2
                          .date  2 hours
                      li
                        a(href='javascript:;')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-default
                                  i.fa.fa-briefcase
                              .cont-col2
                                .desc  Report for year 2016 has been released.
                          .col2
                            .date  20 mins
                    h3.list-heading System
                    ul.feeds.list-items
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-info
                                i.fa.fa-bullhorn
                            .cont-col2
                              .desc
                                | New request received with 
                                span.label.label-sm.label-success Number: DR23923
                        .col2
                          .date  30 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-success
                                i.fa.fa-user
                            .cont-col2
                              .desc  You have 5 pending membership that requires a quick review.
                        .col2
                          .date  24 mins
                      li
                        .col1
                          .cont
                            .cont-col1
                              .label.label-sm.label-warning
                                i.fa.fa-bell-o
                            .cont-col2
                              .desc
                                | Web server hardware needs to be upgraded. 
                                span.label.label-sm.label-default Overdue
                        .col2
                          .date  2 hours
                      li
                        a(href='javascript:;')
                          .col1
                            .cont
                              .cont-col1
                                .label.label-sm.label-info
                                  i.fa.fa-briefcase
                              .cont-col2
                                .desc  Report for year 2016 has been released.
                          .col2
                            .date  20 mins
                #quick_sidebar_tab_1.tab-pane.active.page-quick-sidebar-chat
                  .page-quick-sidebar-chat-users(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
                    h3.list-heading Staff
                    ul.media-list.list-items
                      li.media
                        .media-status
                          span.badge.badge-success 8
                        |  
                        img.media-object(src='/assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Gildong Hong
                          .media-heading-sub  Area01 staff
                      li.media
                        img.media-object(src='/assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Minsick Kim
                          .media-heading-sub  Area01 staff
                      li.media
                        .media-status
                          span.badge.badge-danger 3
                        |  
                        img.media-object(src='/assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Sungsu Jung
                          .media-heading-sub  Area01 staff
                      li.media
                        img.media-object(src='/assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Goungmin Kim
                          .media-heading-sub  Area01 staff
                    h3.list-heading Manager
                    ul.media-list.list-items
                      li.media
                        .media-status
                          span.badge.badge-warning 2
                        |  
                        img.media-object(src='/assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Minjung Lee
                          .media-heading-sub  Area02 staff
                          .media-heading-small  Last seen 03:10 AM
                      li.media
                        .media-status
                          span.label.label-sm.label-success new
                        |  
                        img.media-object(src='/assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Haejin Park
                          .media-heading-sub  Area02 staff
                          .media-heading-small  Last seen 03:10 AM
                      li.media
                        img.media-object(src='/assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Younggil Park
                          .media-heading-sub  Area02 staff
                          .media-heading-small  Last seen 13:10 PM
                      li.media
                        .media-status
                          span.badge.badge-success 7
                        |  
                        img.media-object(src='/assets/images/user2.png', alt='...')
                        .media-body
                          h4.media-heading Manager Name
                          .media-heading-sub  Area03 staff
                      li.media
                        img.media-object(src='/assets/images/user1.png', alt='...')
                        .media-body
                          h4.media-heading Manager Name
                          .media-heading-sub  Area03 staff
                  .page-quick-sidebar-item
                    .page-quick-sidebar-chat-user
                      .page-quick-sidebar-nav
                        a.page-quick-sidebar-back-to-list(href='javascript:;')
                          i.icon-arrow-left
                          |  Back
                      .page-quick-sidebar-chat-user-messages
                        .post.out
                          img.avatar(alt='', src='/assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:15
                            |  
                            span.body When could you send me the report ?
                        .post.in
                          img.avatar(alt='', src='/assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:15
                            |  
                            span.body Its almost done. I will be sending it shortly
                        .post.out
                          img.avatar(alt='', src='/assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:15
                            |  
                            span.body Alright. Thanks! :)
                        .post.in
                          img.avatar(alt='', src='/assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:16
                            |  
                            span.body You are most welcome. Sorry for the delay.
                        .post.out
                          img.avatar(alt='', src='/assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gindong Hong
                            |  
                            span.datetime 20:17
                            |  
                            span.body No probs. Just take your time :)
                        .post.in
                          img.avatar(alt='', src='/assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:40
                            |  
                            span.body Alright. I just emailed it to you.
                        .post.out
                          img.avatar(alt='', src='/assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:17
                            |  
                            span.body Great! Thanks. Will check it right away.
                        .post.in
                          img.avatar(alt='', src='/assets/images/user2.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Taehee Kim
                            |  
                            span.datetime 20:40
                            |  
                            span.body Please let me know if you have any comment.
                        .post.out
                          img.avatar(alt='', src='/assets/images/user1.png')
                          .message
                            span.arrow
                            |  
                            a.name(href='javascript:;') Gildong Hong
                            |  
                            span.datetime 20:17
                            |  
                            span.body Sure. I will check and buzz you if anything needs to be corrected.
                      .page-quick-sidebar-chat-user-form
                        .input-group
                          input.form-control(type='text', placeholder='Type a message here...')
                          .input-group-btn
                            button.btn.blue(type='button')
                              i.icon-paper-clip
                #quick_sidebar_tab_3.tab-pane.page-quick-sidebar-settings
                  .page-quick-sidebar-settings-list
                    h3.list-heading General Settings
                    ul.list-items.borderless
                      li
                        | Enable Notifications 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Allow Tracking 
                        input.make-switch(type='checkbox', data-size='small', data-on-color='info', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Log Errors 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Auto Sumbit Issues 
                        input.make-switch(type='checkbox', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Enable SMS Alerts 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                    h3.list-heading System Settings
                    ul.list-items.borderless
                      li
                        | Security Level 
                        select.form-control.input-inline.input-sm.input-small
                          option(value='1') Normal
                          option(value='2', selected='') Medium
                          option(value='e') High
                      li
                        | Failed Email Attempts 
                        input.form-control.input-inline.input-sm.input-small(value='5')
                      li
                        | Secondary SMTP Port 
                        input.form-control.input-inline.input-sm.input-small(value='3560')
                      li
                        | Notify On System Error 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                      li
                        | Notify On SMTP Error 
                        input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
                    .inner-content
                      button.btn.btn-success
                        i.icon-settings
                        |  Save Changes
        p.copyright Copyright M2U Technology All rights reserved.
    a.go2top(href='#index')
      i.icon-arrow-up
    script(src='/assets/scripts/libs/jquery.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery-migrate.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/bootstrap.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery.blockui.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/jquery.uniform.min.js', type='text/javascript')
    script(src='/assets/scripts/libs/bootstrap-switch.min.js', type='text/javascript')
    script(src='/assets/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
    script(src='/assets/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='/assets/plugins/charts/amcharts/amstockcharts/amstock.js', type='text/javascript')
    script(src='/assets/plugins/charts/charts-amcharts.js', type='text/javascript')
    script(src='/assets/plugins/charts/amcharts/amcharts/amcharts.js', type='text/javascript')
    script(src='/assets/plugins/charts/amcharts/amcharts/serial.js', type='text/javascript')
    script(src='/assets/plugins/charts/amcharts/amcharts/themes/light.js', type='text/javascript')
    script(src='/assets/plugins/charts/amcharts/ammap/ammap.js', type='text/javascript')
    script(src='/assets/plugins/charts/amcharts/ammap/maps/js/worldLow.js', type='text/javascript')
    script(src='/assets/plugins/charts/morris/morris.min.js', type='text/javascript')
    script(src='/assets/plugins/charts/morris/raphael-min.js', type='text/javascript')
    script(src='/assets/plugins/charts/jquery.sparkline.min.js', type='text/javascript')
    script(src='/assets/plugins/bootstrap-select/bootstrap-select.min.js', type='text/javascript')
    script(src='/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js', type='text/javascript')
    script(src='/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js', type='text/javascript')
    script(src='/assets/plugins/clockface/js/clockface.js', type='text/javascript')
    script(src='/assets/plugins/bootstrap-daterangepicker/moment.min.js', type='text/javascript')
    script(src='/assets/plugins/bootstrap-daterangepicker/daterangepicker.js', type='text/javascript')
    script(src='/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js', type='text/javascript')
    script(type='text/javascript', src='/assets/plugins/bootstrap-select/bootstrap-select.min.js')
    script(type='text/javascript', src='/assets/plugins/select2/select2.min.js')
    script(type='text/javascript', src='/assets/plugins/jquery-multi-select/js/jquery.multi-select.js')
    script(src='/assets/scripts/eyelink-ui.js', type='text/javascript')
    script(src='/assets/scripts/eyelink-layout.js', type='text/javascript')
    script(src='/assets/scripts/eyelink-quick-sidebar.js', type='text/javascript')
    script(src='/assets/scripts/page/components-pickers.js', type='text/javascript')
    script(src='/assets/scripts/page/components-dropdowns.js', type='text/javascript')
    script(src='/assets/scripts/page/layout.js', type='text/javascript')
    script(src='/assets/scripts/page/demo.js', type='text/javascript')
    script.
      jQuery(document).ready(function() {
      Metronic.init(); // init metronic core componets
      eyelinkLayout.init(); // init eyelinklayout
      QuickSidebar.init(); // init quick sidebar
      Layout.init(); // init layout
      Demo.init(); // init index page
      ComponentsPickers.init();
      ComponentsDropdowns.init();
      });
