doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='assets/plugins/select2/select2.css', rel='stylesheet', type='text/css')
    link(href='assets/css/login-soft.css', rel='stylesheet', type='text/css')
    link#style_components(href='assets/css/eyelink-components.css', rel='stylesheet', type='text/css')
    link(href='assets/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='assets/css/eyelink-layout.css', rel='stylesheet', type='text/css')
    link(href='assets/css/eyelink-custom.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='assets/images/favicon.ico')
    script(src='assets/scripts/libs/jquery.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery-migrate.min.js', type='text/javascript')
    script(src='assets/scripts/libs/bootstrap.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery.blockui.min.js', type='text/javascript')
    script(src='assets/scripts/libs/jquery.uniform.min.js', type='text/javascript')
    script(src='assets/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='assets/plugins/bootstrap-select/bootstrap-select.min.js', type='text/javascript')
    script(src='assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js', type='text/javascript')
    script(src='assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js', type='text/javascript')
    script(src='assets/plugins/clockface/js/clockface.js', type='text/javascript')
    script(src='assets/plugins/bootstrap-daterangepicker/moment.min.js', type='text/javascript')
    script(src='assets/plugins/bootstrap-daterangepicker/daterangepicker.js', type='text/javascript')
    script(src='assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js', type='text/javascript')
    script(src='assets/plugins/jquery-validation/js/jquery.validate.min.js', type='text/javascript')
    script(src='assets/plugins/backstretch/jquery.backstretch.min.js', type='text/javascript')
    script(type='text/javascript', src='assets/plugins/select2/select2.min.js')
    script(src='assets/scripts/eyelink-ui.js', type='text/javascript')
    script(src='assets/scripts/eyelink-layout.js', type='text/javascript')
    script(src='assets/scripts/page/layout.js', type='text/javascript')
    script(src='assets/scripts/page/demo.js', type='text/javascript')
    script(src='assets/scripts/page/login-soft.js', type='text/javascript')
    script.
      jQuery(document).ready(function() {        
       var err = urlParams.error;
       console.log(urlParams.error);
       switch(err){
        case "1" : 
          alert("비밀번호를 잘못 입력하셨습니다.");
          break;
        case "2" :
          alert("등록된 회원정보가 없습니다.");
          break;
        case "3" : 
          alert("이미 등록된 아이디 입니다.");
          break;
        case "4" : 
          alert("회원가입을 축하합니다~");
          break;
       }
       
        Metronic.init(); // init metronic core componets
        eyelinkLayout.init(); // init eyelinklayout
        Layout.init(); // init layout
        Login.init();
        Demo.init(); // init index page
        $.backstretch([
          "assets/images/bg/1.jpg",
          "assets/images/bg/2.jpg",
          "assets/images/bg/3.jpg",
          "assets/images/bg/4.jpg"
          ], {
            fade: 1000,
            duration: 8000
          }          
        );                 
      });
    script.
      var urlParams = location.search.split(/[?&]/).slice(1).map(function(paramPair) {
        return paramPair.split(/=(.+)?/).slice(0, 2);
      }).reduce(function(obj, pairArray) {
        obj[pairArray[0]] = pairArray[1];
        return obj;
      }, {});
  body.login    
    .logo
      a(href='/dashboard')
        h1 EYELINK
    .menu-toggler.sidebar-toggler
    .content
      #showAlert
      form.login-form(action='/login', method='post')
        h3.form-title Login to your account
        .alert.alert-danger.display-hide
          button.close(data-close='alert')
            span Enter any username and password.
        .form-group
          label.control-label.visible-ie8.visible-ie9 Username
          .input-icon
            i.fa.fa-user
            input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='User ID', name='userid')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Password
          .input-icon
            i.fa.fa-lock
            input.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Password', name='password')
        .form-actions
          label.checkbox Save ID
            input(type='checkbox', name='remember', value='1')
          button.btn.blue.pull-right.btn-login(type='submit')  Login
        .forget-password
          h4 Forgot your password ?
          p
            | no worries, click
            a#forget-password(href='javascript:;') here
            |  to reset your password.
        .create-account
          p
            | Don&apos;t have an account yet ?&nbsp;
            a#register-btn(href='javascript:;') Create an account
      form.forget-form(action='/dashboard', method='post')
        h3 Forget Password ?
        p  Enter your e-mail address below to reset your password.
        .form-group
          .input-icon
            i.fa.fa-envelope
            input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Email', name='email')
        .form-actions
          button#back-btn.btn(type='button')
            i.m-icon-swapleft Back
            button.btn.blue.pull-right(type='submit') Submit
            i.m-icon-swapright.m-icon-white
      form.register-form(action='/', method='post')
        h3 Sign Up
        p  Enter your account details below:
         .form-group
          label.control-label.visible-ie8.visible-ie9 User Name
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Userl Name', name='username')
        .form-group
          label.control-label.visible-ie8.visible-ie9 User ID
          .input-icon
            i.fa.fa-user
            input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='User ID', name='userid')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Password
          .input-icon
            i.fa.fa-lock
            input#register_password.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Password', name='password')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Re-type Your Password
          .controls
            .input-icon
              i.fa.fa-check
              input.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Re-type Your Password', name='password')
        .form-group
          .input-icon
            i.fa.fa-envelope
            |  
            input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Email', name='email')
        .form-group
          label.control-label.visible-ie8.visible-ie9 User Role
          select#select2_sample4.select2.form-control(name='userrole')
            option(value='') User Role
            option(value='Super Manager') Super Manager
            option(value='Zone Manager') Zone Manager
            option(value='Asset Manager') Asset Manager
            option(value='User') User
        .form-group
          label
            input(type='checkbox', name='tnc')
            |  I agree to the
            a(href='javascript:;') Terms of Service
            |  and
            a(href='javascript:;') Privacy Policy
          #register_tnc_error
        .form-actions
          button#register-back-btn.btn(type='button')
            i.m-icon-swapleft
          button#register-submit-btn.btn.blue.pull-right(type='submit') Sign Up
            i.m-icon-swapright.m-icon-white
    .copyright Copyright M2U Technology All rights reserved.
      br
      br
      a.btn.blue.btn-demo.red-haze(href='/dashboard') Demo View


