
a {
  color: #00B7FF;
}
.chart_custom {
  width: 100%!important;
  position: relative;
  overflow: hidden;
  text-align:center;
  color: #999;
  fill: #999;
  background-color:#f5f5f5;
}

.dc-chart .axis path, .axis line {
    stroke: #ccc;
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}


