extends ../layout-type01
block style 
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')   
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
block script
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(type='text/javascript', src='/assets/annie/js/d3pie.min.js')
  script(type='text/javascript', src='/assets/annie/js/d3pie.js')
  script(type='text/javascript', src='/assets/annie/js/gauge.js')
  script(type='text/javascript', src='/assets/annie/js/Donut3D.js')
  script(src='/assets/annie/js/materialize.min.js')
  script(src='/assets/annie/js/vizuly_core.min.js')
  script(src='/assets/annie/js/vizuly_radialprogress.min.js')
  script(src='/assets/annie/js/liquidFillGauge.js', language='JavaScript')
  script(type='text/javascript', src='/scripts/report_d3.js')  
  script.
    $(document).ready(function() {                          
      var dateFormat = 'YYYY-MM-DD';
      $('#sdate').val(moment().subtract(5, 'days').format(dateFormat));
      $('#edate').val(moment().format(dateFormat));

      // time series char를 그린다.
        report();
        $('#btn_search').click(function() {
          report();
        });
    });                      
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Reports_d3
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Reports
          li.active OverView
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                span.caption-helper Date range and select area
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body.form
               form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .form-group.last
                    label.control-label.col-md-1 Date Range
                    .col-md-4
                      .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                        input#sdate.form-control(type='text', name='from' value='')
                        span.input-group-addon to
                        input#edate.form-control(type='text', name='to' value='')
                    label.control-label.col-md-1 Select Area
                    .col-md-6.form-inline
                      select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Area')
                        option(value='') Zone ID
                        option(value='') All Area
                        option(value='') AreaID1234
                        option(value='') AreaID5678
                      select.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Item')
                        option(value='') Node ID
                        option(value='') Node ID
                        option(value='') Item1234
                        option(value='') Item5678
                      button#btn_search.btn.blue
                        i.fa.fa-search Search
      a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:500px;')
                #pieChart
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count Chart
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:500px;')
                pie3D(style='height:430px;')
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count by Day
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:340px;')
                span#vibXGaugeContainer
                span#vibYGaugeContainer
                span#vibZGaugeContainer
                br
                br
                span#vibGaugeContainer     
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count by Node
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:340px;')
                svg#fillgauge1(width='90%', height='184', onclick='gauge1.update(NewValue());')
                svg#fillgauge2(width='17%', height='140', onclick='gauge2.update(NewValue());')
                svg#fillgauge3(width='17%', height='140', onclick='gauge3.update(NewValue());')
                svg#fillgauge4(width='17%', height='140', onclick='gauge4.update(NewValue());')
                svg#fillgauge5(width='17%', height='140', onclick='gauge5.update(NewValue());')
                svg#fillgauge6(width='17%', height='140', onclick='gauge6.update(NewValue());')
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Daily Max Value
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:auto;')
                groupBar
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Daily Event Count
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:auto;')
                groupTip
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count by Day
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:auto;')
                .radarChart
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Event Count by Node
                span.caption-helper Two Column chart
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-print
                  |  Print
                a.collapse(href='javascript:;')
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart
    p.copyright Copyright M2U Technology All rights reserved.
  a.go2top(href='#index')
    i.icon-arrow-up