extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/scripts/d3_timeseries.css')
  link(rel='stylesheet', type='text/css', href='/assets/annie/css/style.css')
  style.    
    path { 
        stroke-width: 2;
        fill: none;
    }
    .line {
      fill: none;      
    }
    text {
      font-size: 0.5rem;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    } 
    div.tooltip { 
      position: absolute;     
      text-align: center;     
      width: 60px;          
      height: auto;         
      padding: 2px;       
      font: 12px sans-serif;    
      background: lightsteelblue; 
      border: 0px;    
      border-radius: 8px;     
      pointer-events: none;     
    }
block script
  script(type='text/javascript', src='/assets/leaflet/d3.js')
  script(src='/assets/annie/js/vue.min.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(src='/scripts/analysis_anomaly.js')  
  script.
    $(document).ready(function(e) {      
      getData();      
      getOldData();      
    });
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Anomaly
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Analysis
          li.active Anomaly      
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Anomaly Chart
                span.caption-helper  by Voltage
            .portlet-body
              .chart(style='height:400px;')
                #voltage
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Anomaly Chart
                span.caption-helper  by Power
            .portlet-body
              .chart(style='height:400px;')
                #power
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Anomaly Chart
                span.caption-helper  by Active Power
            .portlet-body
              .chart(style='height:400px;')
                #activepower
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Anomaly Chart
                span.caption-helper  by Power Factor
            .portlet-body
              .chart(style='height:400px;')
                #powerfactor
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Anomaly Chart
                span.caption-helper  by Factor                
            .portlet-body
              .chart(style='height:400px;')
                #clust
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Anomaly Chart
                span.caption-helper  by Factor                
            .portlet-body
              .chart(style='height:400px;')
                 #real                 
