extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', type='text/css', href='/assets/annie/css/style.css')
block script
  script(type='text/javascript', src='/assets/annie/js/d3_dc.js')
  script(src='/assets/annie/js/vue.min.js')  
  script(type='text/javascript', src='/assets/annie/js/crossfilter.js')
  script(type='text/javascript', src='/assets/annie/js/dc.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(src='/scripts/da_check.js')
  script(src='/scripts/da_node.js')
  script.
    $(document).ready(function(e) {
      var dateFormat = 'YYYY-MM-DD';
      //- $('#sdate').val(moment().subtract(5, 'days').format(dateFormat));
      //- $('#edate').val(moment().format(dateFormat));

      $('#sdate').val('2016-12-01');
      $('#edate').val('2016-12-02');   
      // time series char를 그린다.
        drawCheckChart();
        drawChart();
        $('#btn_search').click(function() {
         drawCheckChart();
         drawChart();
        });
        $('#btn_factor').click(function() {
         drawCheckChart();
         drawChart();
        });
    });
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Clustering
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Analysis
          li.active Clustering
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                span.caption-helper  Date range and select area
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .row
                    .form-group.last
                      label.control-label.col-md-1 Factor
                      .col-md-4
                        .btn-group.btn-group-devided(data-toggle='buttons')
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
                            input#factor0.toggle(type='radio', name='options', value='active_power', checked='Y')
                            | ActivePower
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                            input#factor1.toggle(type='radio', name='options', value='voltage')
                            | Voltage
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                            input#factor2.toggle(type='radio', name='options', value='ampere')
                            | Ampere
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                            input#factor3.toggle(type='radio', name='options', value='power_factor')
                            | Power Factor
                      .col-md-1.form-inline
                        button#btn_factor.btn.blue
                          i.fa.fa-search Change
                      label.control-label.col-md-1 Date Range
                      .col-md-3
                        .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                          input#sdate.form-control(type='text', name='from' value='')
                          span.input-group-addon to
                          input#edate.form-control(type='text', name='to' value='')
                      .col-md-1.form-inline
                        button#btn_search.btn.blue
                          i.fa.fa-search Run Analysis
      .row
        .col-md-2
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Clustering
                span.caption-helper  Clustering
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:80px')
                #directory-tree-chart
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Total Pattern
                span.caption-helper  Total Pattern
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:auto;')
                #table
                  .panel.panel-card
                    .panel-body
                      .col-xm-2.col-sm-2.col-md-2.panel-checkbox.hidden-xs.hidden-sm
                        input#c0.click_checkbox(type='checkbox', name='ck0', value='1', v-on='click:checkOpt', checked='true')
                        text  Cluster0
                        br
                        input#c1.click_checkbox(type='checkbox', name='c1', value='2', v-on='click:checkOpt', checked='true')
                        text  Cluster1
                        br
                        input#c2.click_checkbox(type='checkbox', name='c2', value='3', v-on='click:checkOpt', checked='true')
                        text  Cluster2
                        br
                        input#c3.click_checkbox(type='checkbox', name='c3', value='4', v-on='click:checkOpt', checked='true')
                        text  Cluster3
                      .col-xm-12.col-sm-12.col-md-10.col-xs-12
                        #Cluster(style='width:95%;height:350px;')                
        .col-md-4
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Pattern by Node
                span.caption-helper  Pattern by Node
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:auto;')
                #nodeLine
      .row
        .col-md-3
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-blue-sharp Power
                span.caption-helper  Power
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              #power-trend-chart
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze ALS/Dimming
                span.caption-helper  ALS/Dimming
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              #als-trend-chart
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Noise
                span.caption-helper  Noise
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              #noise-trend-chart
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Vibration
                span.caption-helper  Vibration
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              #vibration-trend-chart
