extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')
  link(rel='stylesheet', href='/assets/leaflet/dc.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/scripts/d3_timeseries.css')
  link(rel='stylesheet', type='text/css', href='/assets/annie/css/style.css')
block script
  script(type='text/javascript', src='/assets/leaflet/d3.js')
  script(src='/assets/annie/js/vue.min.js')
  script(type='text/javascript', src='/assets/annie/js/colorbrewer.js')
  script(type='text/javascript', src="/scripts/util.js")
  script(type='text/javascript', src='/assets/plugins/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
  script(src='/assets/scripts/page/table-managed.js')  
  script(type='text/javascript', src="/scripts/analysis_pattern.js")
  script.
    $(document).ready(function(e) {
      var dateFormat = 'YYYY-MM-DD';      
      $('#sdate').val(moment().format(dateFormat));
      $('#edate').val(moment().format(dateFormat));
      getPatternList() // pattern dataset
      
      $('#btn_search').click(function() {
        d3.selectAll("svg").remove();
        getPatternList() // pattern dataset
      });

      clickfunc = function(link) {
        var creationDate = link.innerText || link.textContent;
        $('#creationDate').val(creationDate);
        console.log(creationDate);
          d3.selectAll("svg").remove();
          drawPatterns(creationDate);
      };

    
      // getPatternList();  

      Metronic.init(); // init metronic core componets
      eyelinkLayout.init(); // init eyelinklayout
      QuickSidebar.init(); // init quick sidebar
      Layout.init(); // init layout
      Demo.init(); // init index page
      ComponentsPickers.init();
      TableManaged.init();
      ComponentsDropdowns.init();
    });

block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Pattern management
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Analysys
          li.active Pattern management
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Date selection
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .row
                    label.control-label.col-md-1 Date Range
                    .col-md-3
                      .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                        input#sdate.form-control(type='text', name='from' value='')
                        span.input-group-addon to
                        input#edate.form-control(type='text', name='to' value='')
                    .col-md-1.form-inline
                      button#btn_search.btn.blue
                        i.fa.fa-search  Search
      .row
        .col-md-2
          .portlet.light.bordered(style='height: 730px;')
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase History
                span.caption-helper  Created pattern list
            .portlet-body
              .scroller(style='height: 430px;', data-always-visible='1', data-rail-visible='0')
                table#patternHistory.table.table-hover.table-light
        .col-md-3
          .portlet.light.bordered.tasks-widget(style='height:730px;')
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Pattern Group
                span.caption-helper  Tree view about defined patterns
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              //- tree view 추가부분
              //- .chart#ts-chart01

        .col-md-7
          .row
            .col-md-12
              .portlet.light.bordered.tasks-widget(style='height:400px;')
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Patterns
                    span.caption-helper  Detail information about selected patterns
                .portlet-body.form
                  table#tblPatternList.table.table-striped.table-bordered.table-hover(style='text-align:center;')
                    thead
                      tr
                        th(style='text-align:center;')  Group
                        th(style='text-align:center;')  Cluster No.
                        th(style='text-align:center;')  Status
                        th(style='text-align:center;')  Edit
                    tbody
          .row
            .col-md-12
              .portlet.light.bordered.tasks-widget(style='height:300px;')
                .portlet-title
                  .caption
                    span.caption-subject.bold.uppercase.font-green-haze Segment
                    span.caption-helper  Pattern shape(120 minutes)
                  .tools
                    a.collapse(href='javascript:;')
                    a.config(href='#portlet-config', data-toggle='modal')
                    a.reload(href='javascript:;')
                    a.fullscreen(href='javascript:;')
                    a.remove(href='javascript:;')
                .portlet-body
                  //- 차트 들어갈 부분
                  .chart#ts-chart01