
div#fieldChooser {
    width: 300px;
    height: 520px;
}

.fc-field {
    width: 360px;
    height: 30px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 1.0);
}

.fc-field:hover {
    outline: #cacaca solid 1px;
}

.fc-selected {
    background-color: #ffe284;
}

.fc-selected:hover {
    background-color: #ffd448;
}

.fc-field-list {
    width: 400px;
    height: 500px;
    margin: 0px;
    padding: 3px;
    overflow: scroll;
}