<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2016 KT, Inc.
  ~ All right reserved.
  ~ This software is the confidential and proprietary information of KT
  ~ , Inc. You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with KT.
  ~
  ~ Revision History
  ~ Author              Date                  Description
  ~ Seo Jong Hwa        2016 . 7 . 6
  -->

<configuration>
    <appender name="TIME_BASED_FILE" class="com.kt.programk.api.logging.FiveMinutesRollingAppender">
        <file>/chatbot/aibot/log/stat/stat.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/chatbot/aibot/log/stat/stat-%d{yyyyMMdd-HHmm}.log</fileNamePattern>
            <!--<maxFileSize>10MB</maxFileSize>-->
            <!--<maxHistory>30</maxHistory>-->
            <!--<totalSizeCap>1GB</totalSizeCap>-->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="timeBased" level="INFO">
        <appender-ref ref="TIME_BASED_FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
